---
import { IoChevronUpSharp } from "react-icons/io5";
---

<span
  class='scroll-btn z-999 cursor-pointer hidden flex justify-center items-center fixed bottom-22.5 md:bottom-25 lg:bottom-27.5 xl:bottom-30 right-10 w-12.5 h-12.5 rounded-full bg-[#1c1c1c] border border-[#79767666]'
>
  <IoChevronUpSharp
    size={20}
    color='white'
  />
</span>

<script>
  const scrollBtn = document.querySelector(".scroll-btn");
  const body = document.querySelector("body") as any;
  body.addEventListener("scroll", () => {
    if (body?.scrollTop >= 300) {
      scrollBtn?.classList.remove("hidden");
    } else if (body?.scrollTop < 300) {
      scrollBtn?.classList.add("hidden");
    }
  });

  scrollBtn?.addEventListener("click", () => {
    console.log("clicked");
    document.body.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
