---
const star = "/Filled.png";
const stars = Array.from({ length: 5 }, (_, i) => star);
const { title, name, review } = Astro.props;
---

<div
  class='testimonial-card testimonial-animate shrink-0 flex flex-col gap-5 p-6 rounded-4xl bg-[#282828B2] text-white
         w-[95%] md:w-[65%] lg:w-[50%] transition-all duration-1000 relative z-50 xl:max-h-[298px]'
>
  <div class='flex items-center gap-2 w-full'>
    {
      stars.map((path) => (
        <img
          src={path}
          class='w-5 h-5 md:w-6 md:h-6 object-contain'
          alt='star'
        />
      ))
    }
  </div>

  <p class='text-sm md:text-base leading-relaxed wrap-break-word grow'>
    "{review}"
  </p>

  <div class='flex items-center gap-4 grow-0'>
    <img
      src='/lady.png'
      class='w-12 h-12 rounded-full object-cover shrink-0'
      alt='avatar'
    />
    <div class='flex flex-col'>
      <span class='font-bold text-sm md:text-base'>{name}</span>
      <span class='text-xs md:text-sm opacity-70'>{title}</span>
    </div>
  </div>
</div>
