---
const star = "/Filled.png";
const stars = Array.from({ length: 5 }, (_, i) => star);
const { title, name, review } = Astro.props;
---

<div
  class='testimonial-card overflow-hidden relative min-w-[45%] max-w-[80%] lg:max-w-[45%] h-auto bg-[#282828B2] text-white p-6 flex flex-col justify-between gap-5 rounded-4xl'
>
  <div class='flex items-center gap-5 w-full'>
    {
      stars.map((path) => {
        return (
          <img
            src={path}
            width='24'
            height='24'
          />
        );
      })
    }
  </div>
  <p class=''>
    "{review}"
  </p>
  <div class='text-white flex justify-evenly gap-5'>
    <img
      src='/lady.png'
      width='50'
      height='50'
    />
    <div class='w-full'>
      <span class='block'>{title}</span>
      <span class='block'>{name}</span>
    </div>
  </div>
  <span
    class='w-full absolute h-full bg-white/50 inset-0 -top-full -left-full rounded-4xl'
  >
  </span>
</div>

<style>
  .testimonial-card:hover > span {
    left: 0;
    top: 0;
    transition: all 0.5s ease-in;
    background: linear-gradient(
      to left top,
      transparent,
      transparent 40%,
      rgba(230, 134, 36, 0.23) 100%
    );
    filter: grayscale(0);
  }
</style>
