---
import TopSection from "../top-section/Topsection.astro";
import TestimonialCard from "./testimonialCard.astro";
const cards = [
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.  reprehenderit distinctio ipsum. Laboriosam ad ea ut doloremque
    corrupti sapiente magnam veniam! Lorem ipsum dolor sit amet, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
  {
    name: "John Mark",
    title: "CEO of Facebook",
    review: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti
    obcaec height='28'ati, temporibus autem alias ratione ducimus, minus, consectetur
    adipisicing elit.`,
  },
];
const topSectionContent = {
  heading: "There are reason people are | about us",
  word: "raving",
  para: `Don't just take our word for it. Explore what our satisfied clients have
      to say about their experience working with our agency`,
  btnText: "Testimonials",
};
---

<section class='flex flex-col items-center gap-16 max-w-480 mx-auto'>
  <TopSection {...topSectionContent} />
  <div class='relative w-[90%] mx-20'>
    <div class='flex overflow-auto no-scrollbar gap-5 endless-scroll'>
      {
        cards.map((data) => {
          return <TestimonialCard {...data} />;
        })
      }
    </div>
    <span class='left-blur w-[25%] pointer-events-none'></span>
    <span class='right-blur w-[25%] pointer-events-none'></span>
  </div>
</section>
<style>
  .left-blur {
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    height: 100%;

    opacity: 100%;
    filter: blur(10px);
    background: linear-gradient(90deg, black, transparent);
    z-index: 10;
  }
  .right-blur {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 100%;
    filter: blur(10px);
    background: linear-gradient(90deg, transparent, black);
    z-index: 10;
  }
</style>

<script>
  const scrollbar = document.querySelector(".endless-scroll");

  scrollbar?.addEventListener("scroll", (e: any) => {
    if (e?.target?.scrollLeft === 0) {
      e?.target?.scrollTo({
        left: 1900,
        top: 0,
      });
    } else if (e?.target?.scrollLeft > 1900) {
      e?.target?.scrollTo({
        left: 10,
        top: 0,
      });
    }
  });

  function autoScroll() {
    scrollbar?.scrollBy(2, 0);

    requestAnimationFrame(autoScroll);
  }

  requestAnimationFrame(autoScroll);
</script>
