---
const { text } = Astro.props;
---

<a href={`#${text.toString().toLowerCase()}`}>
  <button
    class='cursor-pointer text-[#f8f8f8b2] rounded-full w-fit text-[11px] lg:text-[14px] xl:text-[16px] px-3 py-2 lg:py-3 lg:px-5 xl:px-8 mt-4 font-medium dropdown-shadow-button dropdown-bg dark-btn-shadow xl:h-13'
  >
    {text}
  </button>
</a>
