<div class='text-white'>
  <span
    class='font-bold block pb-2 xl:pb-4 text-center md:text-left text-base text-[12px] lg:text-sm'
    >Company</span
  >
  <ul
    class='flex flex-col items-center md:items-start gap-2 xl:gap-4 text-[12px] lg:text-sm'
  >
    <li><a href='#'>Home</a></li>
    <li><a href='#'>capabilities</a></li>
    <li><a href='#'>our work</a></li>
    <li><a href='#'>why sookshum labs</a></li>
    <li><a href='#'>careers</a></li>
    <li><a href='#'>blog</a></li>
  </ul>
</div>
