<div class='text-white'>
  <span class='font-bold block pb-2'>Company</span>
  <ul class='flex flex-col gap-3 capitalize'>
    <li>Home</li>
    <li>capabilities</li>
    <li>our work</li>
    <li>why sookshum labs</li>
    <li>careers</li>
    <li>blog</li>
  </ul>
</div>
