<div class='text-white w-[50%] lg:max-w-[17%] flex flex-col gap-5'>
  <span class='font-bold block pb-2 text-center md:text-left'>Office</span>
  <p class='text-center md:text-left'>
    A-708, Tower-A, 7th Floor, Bestech Business Towers, Sector 66, Mohali,
    Punjab, India - 160066
  </p>
  <div class=''>
    <span class='font-bold block pb-2 text-center md:text-left'>Contact</span>
    <p class='text-center md:text-left'>info@sookshum-labs.com</p>
  </div>
</div>
