<div
  class='text-white w-57.25 flex flex-col text-base md:text-sm md:gap-2 lg:gap-2 xl:gap-4'
>
  <span
    class='font-semibold block text-center pb-2 md:pb-0 lg:pb-0.5 xl:pb-0 md:text-left text-[12px] lg:text-sm'
    >Office</span
  >
  <p
    class='text-center md:text-left text-[12px] lg:text-sm leading-4 xl:leading-5'
  >
    A-708, Tower-A, 7th Floor, Bestech Business Towers, Sector 66, Mohali,
    Punjab, India - 160066
  </p>
  <div class='pt-3 xl:pt-1 flex flex-col lg:gap-2 xl:gap-0'>
    <span
      class='font-semibold block pb-2 lg:pb-0 xl:pb-4 text-center md:text-left text-[12px] lg:text-sm'
      >Contact</span
    >
    <p class='text-center md:text-left text-[12px] lg:text-sm'>
      info@sookshum-labs.com
    </p>
  </div>
</div>
