---
import { ArrowUpRight } from "@lucide/astro";
import OurServices from "./footer-services.astro";
import Company from "./footer-company.astro";
import Address from "./footer-address.astro";
import SocialLinks from "./social-links.astro";
---

<section class='max-w-480 pt-5 bg-[#282828B8] flex flex-col mx-auto'>
  <div
    class='md:w-[90%] md:mx-5 lg:m-20 flex flex-col items-center md:items-start w-full md:flex-row justify-between flex-wrap gap-5 md:gap-10 lg:gap-20'
  >
    <div
      class='text-white w-full sm:w-[50%] md:w-[35%] flex flex-col md:items-start items-center gap-10 py-10 md:p-0 text-base md:text-sm'
    >
      <span class='inline-block'>
        <img
          src='sookshum-logo.svg'
          alt='sookshum-logo'
          width='155'
          height='45'
          class='object-contain'
        />
      </span>
      <p class='text-center text-base md:text-sm'>
        We deliver excellence through our innovative solutions and exceptionally
        reliable service.
      </p>
      <div class='w-full flex lg:flex-row flex-col gap-3 items-center shrink-0'>
        <div
          class='px-2 md:px-5 font-bold py-3 rounded-full bg-[#F79A12] w-fit cursor-pointer shrink-0'
        >
          <button
            class='w-full h-full flex justify-between items-center gap-2 shrink-0 text-base md:text-sm'
          >
            Request a Quote <ArrowUpRight /></button
          >
        </div>
        <button
          class='bg-[#282828B2] rounded-full py-3 px-5 cursor-pointer shrink-0 text-base md:text-sm'
          >Refer Us</button
        >
      </div>
    </div>
    <OurServices />
    <Company />
    <Address />
  </div>
  <div class='flex justify-center items-center'>
    <SocialLinks />
  </div>
</section>
