<div class='text-white'>
  <span class='font-bold block pb-2 text-center md:text-left'>Company</span>
  <ul class='flex flex-col gap-3 capitalize items-center md:items-start'>
    <li><a href='#'>Home</a></li>
    <li><a href='#'>capabilities</a></li>
    <li><a href='#'>our work</a></li>
    <li><a href='#'>why sookshum labs</a></li>
    <li><a href='#'>careers</a></li>
    <li><a href='#'>blog</a></li>
  </ul>
</div>
