<div class='text-white'>
  <span
    class='font-bold block py-2 text-center md:text-left text-base md:text-sm'
    >Our Services
  </span>
  <ul
    class='flex flex-col items-center md:items-start gap-4 text-base md:text-sm'
  >
    <li><a href='#'>eCommerce Development</a></li>
    <li><a href='#'>Web App Development</a></li>
    <li><a href='#'>Mobile App Development</a></li>
    <li><a href='#'>UI/UX Design</a></li>
    <li><a href='#'>Low Code Development</a></li>
    <li><a href='#'>Admin Development</a></li>
    <li><a href='#'>CMS Development</a></li>
    <li><a href='#'>Headless CMS Development</a></li>
    <li><a href='#'>Website Development</a></li>
  </ul>
</div>
