<div class='text-white xl:pt-0!'>
  <span
    class='font-semibold block pb-2 lg:pb-2.5 xl:pb-4! text-center md:text-left text-base text-[12px] lg:text-sm'
    >Company</span
  >
  <ul
    class='flex flex-col text-[#f8f8f8f2] items-center md:items-start gap-1.5 lg:gap-2 xl:gap-4! text-[12px] lg:text-sm capitalize'
  >
    <li><a href='#'>Home</a></li>
    <li><a href='#'>capabilities</a></li>
    <li><a href='#'>why sookshum labs</a></li>
    <li><a href='#'>careers</a></li>
    <li><a href='#'>Privacy Policy</a></li>
    <li><a href='#'>Terms & Conditions</a></li>
    <li><a href='#'>Refund Policy</a></li>
  </ul>
</div>
