<div
  class='text-white w-57.25 flex flex-col text-base md:text-sm md:gap-2 lg:gap-4'
>
  <span class='font-bold block text-center md:text-left text-[12px] lg:text-sm'
    >Office</span
  >
  <p class='text-center md:text-left text-[12px] lg:text-sm'>
    A-708, Tower-A, 7th Floor, Bestech Business Towers, Sector 66, Mohali,
    Punjab, India - 160066
  </p>
  <div class=''>
    <span
      class='font-bold block xl:pb-4 text-center md:text-left text-[12px] lg:text-sm'
      >Contact</span
    >
    <p class='text-center md:text-left text-[12px] lg:text-sm'>
      info@sookshum-labs.com
    </p>
  </div>
</div>
