<div class='text-white lg:max-w-[17%] flex flex-col gap-5'>
  <span class='font-bold block pb-2'>Office</span>
  <p class=''>
    A-708, Tower-A, 7th Floor, Bestech Business Towers, Sector 66, Mohali,
    Punjab, India - 160066
  </p>
  <div class=''>
    <span class='font-bold block pb-2'>Contact</span>
    <p>info@sookshum-labs.com</p>
  </div>
</div>
