---
const url = [
  "/upwork.png",
  "/be.png",
  "/yt.png",
  "/linked.png",
  "/facebook.png",
  "/insta.png",
  "/x.png",
];
---

<div
  class='h-fit w-full text-white flex justify-between gap-5 flex-col-reverse sm:flex-row mb-5 items-center'
>
  <span class='md:my-0 sm:my-5 text-center text-[10px] lg:text-sm leading-5.5'
    >© 2026 Sookshum Labs Technologies Private Limited. All Rights Reserved</span
  >
  <div class='flex items-center gap-1 lg:gap-2.5'>
    {
      url.map((src) => {
        return (
          <span class='w-7.5 h-7.5 sm:w-6.25 sm:h-6 lg:w-9.25 lg:h-9 block'>
            <img
              src={src}
              alt={src.replace("/", "")}
              class={`aspect-square h-full w-full object-contain cursor-pointer`}
            />
          </span>
        );
      })
    }
  </div>
</div>
