---
const url = [
  "footerImages/upwork.webp",
  "footerImages/behance.webp",
  "footerImages/yt.webp",
  "footerImages/linked.webp",
  "footerImages/facebook.webp",
  "footerImages/insta.webp",
  "/x.png",
];
---

<div
  class='h-fit w-full text-white flex justify-between gap-5 flex-col-reverse sm:flex-row mb-5 items-center'
>
  <span class='md:my-0 sm:my-5 text-center text-[10px] lg:text-sm leading-5.5'
    >© 2026 Sookshum Labs Technologies Private Limited. All Rights Reserved</span
  >
  <div class='flex items-center gap-1 lg:gap-2.5'>
    {
      url.map((src) => {
        return (
          <span class=' block'>
            <img
              width='76'
              height='76'
              src={src}
              alt={src.replace("/", "")}
              class={`aspect-square object-contain cursor-pointer h-[30px] w-[30px] md:w-[37px] md:h-9`}
            />
          </span>
        );
      })
    }
  </div>
</div>
