---
const url = [
  "/upwork.png",
  "/be.png",
  "/yt.png",
  "/linked.png",
  "/facebook.png",
  "/insta.png",
  "/x.png",
];
---

<div
  class='h-fit w-[90%] text-white flex justify-between mx-20 mb-5 items-center'
>
  <span
    >© 2024 Sookshum Labs Technologies Private Limited. All Rights Reserved</span
  >
  <div class='flex justify-center items-center gap-3'>
    {
      url.map((src) => {
        return (
          <span class=' w-10 h-10 block'>
            <img
              src={src}
              alt={src.replace("/", "")}
              class={`aspect-square h-full w-full object-fill`}
            />
          </span>
        );
      })
    }
  </div>
</div>
