@import "tailwindcss";

.poppins-thin {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: italic;
}

header {
  background-color: black;
}

header:has(ul .services:hover, .dropdown:hover) > .dropdown:last-child {
  max-height: 1000px;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease;
  visibility: visible;
}

header:has(ul .services:hover, .dropdown:hover) {
  background-color: #151515;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card {
  border: 1px solid #1c1c1c;
}

.card:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 45px 0px rgba(230, 134, 36, 0.3);
  border: 1px solid #e6862466;
  border-radius: 32px;

  /* Gradient from top-left (color1) to bottom-right (color2) */
}
/* .card:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 99%;
  z-index: -1;
  background-image: linear-gradient(
    to bottom right,
    transparent 0% 40%,
    #1c1c1c 40% 70%,
    transparent 70%
  );
} */

.card:hover button {
  box-shadow: inset 0px 0px 45px 0px rgba(230, 134, 36, 0.3);
  border: 1px solid #e6862466;
}

.no-scrollbar {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

button {
  cursor: pointer;
}

.slide {
  animation: slideAllAnimation 5s linear infinite;
}

@keyframes slideAllAnimation {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.dark-bg:hover {
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 87.89%,
      rgba(255, 255, 255, 0.2) 110.53%
    ),
    linear-gradient(
      4deg,
      rgba(255, 255, 255, 0.2) -13.79%,
      rgba(255, 255, 255, 0) 28.92%
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) -7.89%,
      rgba(255, 255, 255, 0) 12.63%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) -12.5%,
      rgba(255, 255, 255, 0) 25%
    ),
    rgba(0, 0, 0, 0.7);
}

.dark-btn-shadow {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}

.dropdown-shadow-border:hover {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}

.dropdown-shadow-button {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    2px 4px 16px 0px #f8f8f80f inset;
}

.dropdown-bg {
  background-color: #1c1c1c;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left top,
    transparent,
    transparent 50%,
    rgba(40, 40, 40, 0.7) 50%,
    rgba(230, 134, 36, 0) 86%,
    rgba(230, 134, 36, 0.23) 100%
  );
  transition: all 0.2s linear;
  background-size: 0% 0%;
  background-repeat: no-repeat;
  border-radius: 32px;
  border: 1px solid black;
}

.testimonial-card:hover::before {
  background-size: 200% 200%;
  border: 1px solid #e6862466;
}

.show-sidebar {
  left: 0;
}

.hero-heading {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.5)
  );
  background-clip: text !important;
  color: unset;
  text-shadow:
    -1px -1px 0 #ffffff33,
    1px 1px 0 #0000001a;
  -webkit-text-stroke: 0.4px #ffffff80;
  -webkit-text-fill-color: transparent;
}

.hero-span {
  -webkit-text-stroke: 0.4px #e77f2890 !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  padding-right: 2px;
  text-shadow:
    -1px -1px 0 hsla(0, 0%, 100%, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  background:
    linear-gradient(120deg, var(--primary) 0, #df5e26 80%),
    linear-gradient(130deg, #eaeaea 2.16%, #adadad 93.44%) !important;
  color: unset;
}

.feature-card img {
  height: 100%;
  width: 100%;
}
