@import "tailwindcss";

.poppins-thin {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: italic;
}

header {
  background-color: black;
}
header:has(ul .services:hover, .dropdown:hover) > .dropdown:last-child {
  height: 100vh;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease;
  visibility: visible;
}
header:has(ul .services:hover, .dropdown:hover) {
  background-color: #151515;
}
.card {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-animate img {
  transition: transform 1s ease;
}

.card-animate:hover img {
  transform: rotate3d(3, 0, 1, 20deg);
}

.card:hover,
.card:hover button {
  box-shadow: inset 0px 0px 45px 0px rgba(230, 134, 36, 0.3);
}

.no-scrollbar {
  scrollbar-width: none;
}
button {
  cursor: pointer;
}
.slide {
  animation: slideAllAnimation 5s linear infinite;
}

@keyframes slideAllAnimation {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.dark-bg:hover {
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 87.89%,
      rgba(255, 255, 255, 0.2) 110.53%
    ),
    linear-gradient(
      4deg,
      rgba(255, 255, 255, 0.2) -13.79%,
      rgba(255, 255, 255, 0) 28.92%
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) -7.89%,
      rgba(255, 255, 255, 0) 12.63%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) -12.5%,
      rgba(255, 255, 255, 0) 25%
    ),
    rgba(0, 0, 0, 0.7);
}

.dark-btn-shadow {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}

.dropdown-shadow-border:hover {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}
.dropdown-shadow-button {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    2px 4px 16px 0px #f8f8f80f inset;
}
.dropdown-bg {
  background-color: #1c1c1c;
}

.testimonial-animate {
  background-image: linear-gradient(
    to left top,
    transparent,
    transparent 50%,
    rgba(40, 40, 40, 0.7) 50%,
    rgba(230, 134, 36, 0) 86%,
    rgba(230, 134, 36, 0.23) 100%
  );
  background-size: 200% 200%;
}
