@import "tailwindcss";
@theme {
  /* Set xl to 1280px */
  --breakpoint-xl: 1280px;

  /* Set 2xl to 1440px */
  --breakpoint-2xl: 1440px;
}

.poppins-thin {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", "Poppins Fallback";
  font-weight: 900;
  font-style: italic;
}

.hide-dropdown {
  max-height: 0px;
  visibility: hidden;
  transition: all 0.2s linear;
  z-index: 20;
}
.show-dropdown {
  max-height: 1000px;
  z-index: 20;
  /* transition: all 0.1s linear; */
  visibility: visible;
}
header:has(ul .services:hover, .dropdown:hover) {
  background-color: #151515;
}

.card {
  border: 1px solid #1c1c1c;
  padding: 1px;
  position: relative;
  z-index: 1;
}

.card:hover {
  background: linear-gradient(
    to bottom right,
    #e6862466,
    transparent,
    #e6862466
  );
}
.scroll-btn:hover {
  box-shadow: inset 0px 0px 45px 0px rgba(230, 134, 36, 0.3);
}

.card:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      271deg,
      rgba(230, 134, 36, 0) 87.8%,
      rgba(230, 134, 36, 0.19) 116.94%
    ),
    linear-gradient(
      1deg,
      rgba(230, 134, 36, 0) 88.01%,
      rgba(230, 134, 36, 0.19) 115.85%
    ),
    linear-gradient(
      91deg,
      rgba(230, 134, 36, 0) 87.12%,
      rgba(230, 134, 36, 0.19) 120.22%
    ),
    linear-gradient(
      181deg,
      rgba(230, 134, 36, 0) 86.43%,
      rgba(230, 134, 36, 0.19) 120.21%
    );
  border-radius: 32px;
}
@media screen and (max-width: 768px) {
  .card:hover::before {
    border-radius: 20px;
  }
}

.card:hover button {
  box-shadow: inset 0px 0px 45px 0px rgba(230, 134, 36, 0.3);
}

.no-scrollbar {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

button {
  cursor: pointer;
}

.slide {
  animation: slideAllAnimation 5s linear infinite;
}

@keyframes slideAllAnimation {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

.dark-bg:hover {
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 87.89%,
      rgba(255, 255, 255, 0.2) 110.53%
    ),
    linear-gradient(
      4deg,
      rgba(255, 255, 255, 0.2) -13.79%,
      rgba(255, 255, 255, 0) 28.92%
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) -7.89%,
      rgba(255, 255, 255, 0) 12.63%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) -12.5%,
      rgba(255, 255, 255, 0) 25%
    ),
    rgba(0, 0, 0, 0.7);
}

.dark-btn-shadow {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}

.dropdown-shadow-border:hover {
  box-shadow:
    rgba(54, 92, 251, 0.08) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}

.dropdown-shadow-button {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    2px 4px 16px 0px #f8f8f80f inset;
}

.dropdown-bg {
  background-color: #1c1c1c;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left top,
    transparent,
    transparent 50%,
    rgba(40, 40, 40, 0.7) 50%,
    rgba(230, 134, 36, 0) 86%,
    rgba(230, 134, 36, 0.23) 100%
  );
  transition: all 0.5s ease;
  background-size: 0% 0%;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.testimonial-card:hover::before {
  background-size: 200% 200%;
}

.show-sidebar {
  left: 0;
}

.hero-heading {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.5)
  );
  background-clip: text !important;
  color: unset;
  text-shadow:
    -1px -1px 0 #ffffff33,
    1px 1px 0 #0000001a;
  -webkit-text-stroke: 0.4px #ffffff80;
  -webkit-text-fill-color: transparent;
}

.hero-span {
  -webkit-text-stroke: 0.4px #e77f2890 !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  padding-right: 2px;
  text-shadow:
    -1px -1px 0 hsla(0, 0%, 100%, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  background:
    linear-gradient(120deg, var(--primary) 0, #df5e26 80%),
    linear-gradient(130deg, #eaeaea 2.16%, #adadad 93.44%) !important;
  color: unset;
}

.feature-card img {
  height: 100%;
  width: 100%;
}

.btn-div {
  position: absolute;
  background-color: #4b4b4b;
  width: 200px;
  height: 200px;
  transform: scale(0);
  border-radius: 100%;
  animation: spread 0.3s linear;
  z-index: -1;
}

@keyframes spread {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}

.feature-card-touch-active {
  background: linear-gradient(
    to bottom right,
    #e6862466,
    transparent,
    #e6862466
  );
}

.feature-card-touch-active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      271deg,
      rgba(230, 134, 36, 0) 87.8%,
      rgba(230, 134, 36, 0.19) 116.94%
    ),
    linear-gradient(
      1deg,
      rgba(230, 134, 36, 0) 88.01%,
      rgba(230, 134, 36, 0.19) 115.85%
    ),
    linear-gradient(
      91deg,
      rgba(230, 134, 36, 0) 87.12%,
      rgba(230, 134, 36, 0.19) 120.22%
    ),
    linear-gradient(
      181deg,
      rgba(230, 134, 36, 0) 86.43%,
      rgba(230, 134, 36, 0.19) 120.21%
    );
  border-radius: 20px;
}
body {
  scrollbar-color: #888 #2c2c2c;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
}
/* Hides scrollbar when the viewport width is exactly 1440px */
/* @media screen and (min-width: 1440px) {
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
} */
