---
import TopSection from "../top-section/Topsection.astro";
import ProcessCard1 from "./processCard1.astro";
import ProcessCard2 from "./ProcessCard2.astro";
const cards = [
  {
    src: "/process-videos/requirement.mp4",
    title: "Requirement Gathering",
    content:
      "We take the time to understand your goals, target audience, and brand identity to craft solutions that truly resonates. ",
    height:
      "max-h-[320px] min-h-[320px] md:max-h-[280px] md:min-h-[280px] xl:max-h-[420px]! -mt-[60px] sm:-mt-[0px]",
  },
  {
    src: "/process-videos/wireframe.webm",
    title: "Functionality Mapping & Wireframe",
    content:
      "We strategically plan key features and functionalities to ensure your website is user-friendly and meets your objectives.",
    height: "h-[280px] xl:h-[350px]!",
  },
  {
    src: "/process-videos/uiDesign.webm",
    title: "UI & UX Designing",
    content:
      "We create visually stunning, user-centric interfaces that are intuitive and engaging, delivering a seamless user experience.",
    height: "h-[280px] xl:h-[350px]!",
  },
  {
    src: "/process-videos/Agile-Development.webm",
    title: " Agile Development",
    content: `Tailored to your needs, our agile development approach involves ongoing refinement and integration of your feedback. This ensures that your digital products evolve seamlessly with your changing needs, delivering a solution that stays relevant and effective throughout its lifecycle. Your input drives continuous improvement for optimal results.`,
  },
];

const bottomCards = [
  {
    src: "/process-videos/Deployment.webm",
    title: "Deployment",
    content:
      "Effortless deployment with precision. We ensure seamless launches, smooth transitions, minimal downtime, and a flawless launch for your digital product’s success.",
  },
  {
    src: "/process-videos/support.mp4",
    title: "Support & Maintenance ",
    content:
      "Keeping you ahead of the curve. We provide continuous ongoing support and maintenance to ensure your digital products stays secure, up-to-date, and performing optimally.",
  },
];

const topSectionContent = {
  heading: "Our development",
  word: "process?",
  para: `We believe in a transparent and collaborative development process. From ideation to launch, we’ll keep you informed every step of the way`,
  btnText: "Process",
};
---

<section
  class='flex flex-col items-center max-w-480 mx-auto px-5 md:px-10 xl:px-20! gap-3 lg:gap-5 md:pt-17.5 pt-15 lg:pt-30 transition-all duration-700'
>
  <TopSection
    {...topSectionContent}
    wrap='text-wrap sm:text-nowrap'
  />
  <div
    class='grid md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-3 lg:gap-4.5 xl:gap-5 mt-9 xl:pt-5'
  >
    {
      cards.map((data, index) => {
        return (
          <ProcessCard1
            {...data}
            index={index}
          />
        );
      })
    }
  </div>
  <div
    class='overflow-hidden rounded-[20px] lg:rounded-4xl lg:flex lg:flex-row hidden justify-center items-center bg-[#282828B2] card xl:h-98 hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466] card-animate-on-touch grayscale'
  >
    <div
      class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl pb-6 xl:pb-8 xl:gap-2 lg:flex lg:flex-row hidden justify-center items-center dark-btn-shadow dropdown-bg dropdown-shadow-button video-card overflow-hidden'
    >
      <div class='overflow-hidden w-full video-container'>
        <video
          src='/Agile-Development.webm'
          muted
          width='320'
          height='240'
          class='object-contain rounded-4xl h-auto
          sm:min-w-[400px] m-0 sm:h-[350px] lg:h-[400px] xl:h-[500px]! xl:min-w-[500px]! h-[250px]'
        ></video>
      </div>
      <div
        class='w-fit h-full text-white flex flex-col md:justify-center gap-3'
      >
        <h2
          class='text-white relative font-medium font-poppins capitalize md:text-center lg:text-[19px] process-title'
        >
          Agile Development
        </h2>
        <p
          class='opacity-70 text-[14px] leading-5 lg:text-[16px] lg:leading-6 lg:px-6 md:text-center process-content'
        >
          Tailored to your needs, our agile development approach involves
          ongoing refinement and integration of your feedback. This ensures that
          your digital products evolve seamlessly with your changing needs,
          delivering a solution that stays relevant and effective throughout its
          lifecycle. Your input drives continuous improvement for optimal
          results.
        </p>
      </div>
    </div>
  </div>

  <div
    class='flex flex-col md:flex-row justify-between h-fit text-white gap-3 lg:gap-5'
  >
    {
      bottomCards.map((data) => {
        return <ProcessCard2 {...data} />;
      })
    }
  </div>
</section>

<script>
  const cards = document.querySelectorAll(".video-card");
  cards.forEach((card: any) => {
    card.addEventListener("mouseenter", (e: any) => {
      card.children[0].children[0]?.play();
    });
    card.children[0].children[0].addEventListener("touchstart", (e: any) => {
      card.children[0].children[0]?.play();
    });
  });
</script>
<style>
  @media screen and (width: 1024px) {
    .process-title {
      font-size: 16px;
    }
    .process-content {
      font-size: 14px;
      line-height: 20px;
    }
    .process-content-section {
      padding-right: 12px;
      padding-left: 20px;
    }
  }
  @media screen and (width: 1024px) {
    section {
      padding-top: 90px;
    }
  }
</style>
