---
const { src, title, content } = Astro.props;
---

<div
  class='h-auto rounded-4xl p-5 card bg-[#282828B2] flex flex-col justify-between'
>
  <div class='w-full flex justify-center'>
    <img
      src={src}
      class='object-cover h-full w-full'
    />
  </div>
  <div class='w-full text-white flex flex-col gap-2 px-2 pb-3'>
    <span
      class='font-semibold text-lg capitalize'
      style='font-family: Rubik;'
      >{title}</span
    >
    <p
      class='opacity-70'
      style='font-family: Inter;'
    >
      {content}
    </p>
  </div>
</div>
