---
const { src, title, content, index } = Astro.props;
---

<div
  class=`h-auto rounded-[20px] lg:rounded-4xl xl:gap-4 pb-6 xl:pb-8 card bg-[#282828B2] flex-col justify-between dark-btn-shadow dropdown-bg   overflow-hidden dropdown-shadow-button ${index === 3 ? 'lg:hidden' : 'flex'} hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466]`
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] overflow-hidden lg:rounded-4xl pb-6 xl:pb-8 lg:gap-3 xl:gap-2 flex flex-col xl:justify-between video-card'
  >
    <div
      class='w-full flex justify-center video-container lg:h-[280px] xl:h-auto'
    >
      <video
        muted
        src={src}
        class='object-contain xl:object-cover h-full w-full rounded-4xl'
      ></video>
    </div>
    <div
      class='w-full text-white flex flex-col gap-2 px-5 xl:px-8 xl:gap-2.5 grow justify-end'
    >
      <h3
        class='hero-heading text-[14px] lg:text-[16px] xl:text-[19px] capitalize'
      >
        {title}
      </h3>
      <p class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px]'>
        {content}
      </p>
    </div>
  </div>
</div>
