---
import ProcessCard1 from "./processCard1.astro";
import ProcessCard2 from "./ProcessCard2.astro";
const cards = [
  {
    src: "/requirement.png",
    title: "Requirement Gathering",
    content:
      "We take the time to understand your goals, target audience, and brand identity to craft solutions that truly resonates. ",
  },
  {
    src: "/functional.png",
    title: "Functionality Mapping & Wireframe",
    content:
      "We strategically plan key features and functionalities to ensure your website is user-friendly and meets your objectives.",
  },
  {
    src: "/processUx.png",
    title: "UI & UX Designing",
    content:
      "We create visually stunning, user-centric interfaces that are intuitive and engaging, delivering a seamless user experience.",
  },
];

const bottomCards = [
  {
    src: "/Deployment.png",
    title: "Deployment",
    content:
      "Effortless deployment with precision. We ensure seamless launches, smooth transitions, minimal downtime, and a flawless launch for your digital product’s success.",
  },
  {
    src: "/support.png",
    title: "Support & Maintenance ",
    content:
      "Keeping you ahead of the curve. We provide continuous ongoing support and maintenance to ensure your digital products stays secure, up-to-date, and performing optimally.",
  },
];
---

<section class='flex flex-col items-center gap-5 my-20 max-w-480 mx-auto'>
  <div class='h-full flex flex-col items-center gap-5 mx-20 w-full'>
    <div
      class='flex flex-col justify-between gap-5 mb-10 items-center text-white w-[90%] md:w-[77%] lg:w-[55%]'
    >
      <button
        class='bg-[#282828B8] cursor-pointer opacity-70 text-white rounded-full w-fit py-3 px-8 mt-4 border-[0.5px] border-[#282828B2] font-bold'
      >
        Process
      </button>
      <h2 class='font-semibold text-5xl text-center'>
        Our development <i class='font-light'>process?</i>
      </h2>
      <p class='text-center text-lg opacity-70'>
        We believe in a transparent and collaborative development process. From
        concept to launch, we'll keep you informed at every stage.
      </p>
    </div>
  </div>
  <div
    class='grid md:grid-cols-3 justify-items-center gap-2 lg:gap-5 mx-5 lg:mx-20 lg:w-[90%]'
  >
    {
      cards.map((data) => {
        return <ProcessCard1 {...data} />;
      })
    }
  </div>
  <div
    class='lg:w-[90%] mx-5 rounded-4xl min-h-100 flex flex-col md:flex-row justify-center items-center bg-[#282828B2] card'
  >
    <div class='w-fit h-fit'>
      <img
        src='/Agile.png'
        class='w-fit h-fit object-center'
      />
    </div>
    <div class='w-fit h-full text-white flex flex-col md:justify-center px-5'>
      <h2
        class='text-white block relative text-3xl lg:text-5xl font-extrabold font-poppins capitalize md:text-center'
      >
        Agile Development
      </h2>
      <p class='opacity-70 md:text-center'>
        Tailored to your needs, our agile development approach involves ongoing
        refinement and integration of your feedback. This ensures that your
        digital products evolve seamlessly with your changing needs, delivering
        a solution that stays relevant and effective throughout its lifecycle.
        Your input drives continuous improvement for optimal results.
      </p>
    </div>
  </div>

  <div
    class='w-auto lg:w-[90%] lg:mx-20 flex flex-col md:flex-row justify-between h-fit text-white gap-2 mx-5 lg:gap-5'
  >
    {
      bottomCards.map((data) => {
        return <ProcessCard2 {...data} />;
      })
    }

    <!-- <div class='bg-[#282828B2] rounded-4xl h-[394px] w-[50%] card'>adsf</div> -->
  </div>
</section>
