---
const { src, title, content } = Astro.props;
---

<div
  class='relative bg-[#282828B2] rounded-4xl md:w-[50%] p-2 lg:p-5 card flex flex-col justify-between'
>
  <div class='flex justify-center items-center w-full h-full'>
    <img
      src={src}
      alt={title}
    />
  </div>
  <div
    class='w-full text-white flex flex-col gap-2 px-2 pb-3 h-full justify-end'
  >
    <span class='font-semibold text-lg capitalize'> {title} </span>
    <p class='opacity-70'>
      {content}
    </p>
  </div>
</div>
