---
const { src, title, content } = Astro.props;
---

<div
  class='relative bg-[#282828B2] gap-2 pb-6 2xl:pb-8 rounded-[20px] lg:rounded-4xl md:w-[50%] card hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466] dark-btn-shadow dropdown-bg overflow-hidden dropdown-shadow-button
  card-animate-on-touch grayscale'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl pb-6 2xl:pb-8! gap-3 xl:gap-3 flex flex-col justify-between dark-btn-shadow dropdown-bg dropdown-shadow-button video-card'
  >
    <div class='flex justify-center items-center video-container'>
      <video
        src={src}
        muted
        width='320'
        height='240'
        class='object-cover w-full rounded-4xl h-auto xl:h-100 mx-auto'
      ></video>
    </div>
    <div
      class='w-full text-white flex flex-col px-4 md:pr-[10.5px] md:pl-4.25 gap-1.25 lg:gap-3 lg:pl-5 lg:pr-3 xl:px-[36px]! 2xl:px-8! xl:gap-3.5 h-fit lg:justify-end'
    >
      <h3
        class='font-medium text-[14px] lg:text-[16px] xl:text-[19px]! capitalize'
      >
        {title}
      </h3>
      <p class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px]!'>
        {content}
      </p>
    </div>
  </div>
</div>
