---
const { src, title, content, reverse } = Astro.props;
---

<div
  class=`w-full h-full xl:my-10 flex ${reverse ? 'flex-col-reverse sm:flex-row-reverse' : 'flex-col-reverse sm:flex-row'} justify-between items-center md:gap-10 lg:gap-0`
>
  <div
    class='text-white h-full flex flex-col justify-start items-start gap-3 lg:gap-5 md:max-w-[329px] lg:max-w-[491px] xl:max-w-[530px]'
  >
    <h2 class='text-[20px] lg:text-[24px] xl:text-[36px] capitalize'>
      {title}
    </h2>
    <p
      class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px] xl:leading-6 py-2 font-light xl:max-w-145.25'
    >
      {content}
    </p>
  </div>
  <div
    class='md:h-[300px] md:w-[300px] lg:w-[360px] lg:h-[360px] xl:h-[505px] xl:w-[505px] flex justify-center items-center'
  >
    <video
      src={src}
      autoplay
      loop
      muted
      class='object-cover w-fit h-fit'
    ></video>
  </div>
</div>
