---
import Button from "../button/Button.astro";
import TopSection from "../top-section/Topsection.astro";
import TechnologyCard from "./TechnologyCard.astro";
const cards = [
  {
    src: "/monitoring.png",
    title: "Application Monitoring",
    content: `In a continuous delivery environment, constant application monitoring is essential for addressing issues in real time. Tools such as real-time error monitoring and performance monitoring services play a critical role in this process. They enable teams to identify and resolve problems quickly, ensuring that applications function smoothly and efficiently. By using these tools, organizations can enhance workflow efficiency, maintain high performance levels, and continuously improve the user experience. This proactive approach to monitoring helps prevent disruptions, optimize performance, and deliver a seamless, high-quality experience for users, ultimately contributing to overall success and satisfaction.`,
  },
  {
    src: "/font-end.png",
    title: "Application Monitoring",
    content: `In a continuous delivery environment, constant application monitoring is essential for addressing issues in real time. Tools such as real-time error monitoring and performance monitoring services play a critical role in this process. They enable teams to identify and resolve problems quickly, ensuring that applications function smoothly and efficiently. By using these tools, organizations can enhance workflow efficiency, maintain high performance levels, and continuously improve the user experience. This proactive approach to monitoring helps prevent disruptions, optimize performance, and deliver a seamless, high-quality experience for users, ultimately contributing to overall success and satisfaction.`,
  },
  {
    src: "/mobile-design.png",
    title: "Application Monitoring",
    content: `In a continuous delivery environment, constant application monitoring is essential for addressing issues in real time. Tools such as real-time error monitoring and performance monitoring services play a critical role in this process. They enable teams to identify and resolve problems quickly, ensuring that applications function smoothly and efficiently. By using these tools, organizations can enhance workflow efficiency, maintain high performance levels, and continuously improve the user experience. This proactive approach to monitoring helps prevent disruptions, optimize performance, and deliver a seamless, high-quality experience for users, ultimately contributing to overall success and satisfaction.`,
  },
  {
    src: "/back-end.png",
    title: "Application Monitoring",
    content: `In a continuous delivery environment, constant application monitoring is essential for addressing issues in real time. Tools such as real-time error monitoring and performance monitoring services play a critical role in this process. They enable teams to identify and resolve problems quickly, ensuring that applications function smoothly and efficiently. By using these tools, organizations can enhance workflow efficiency, maintain high performance levels, and continuously improve the user experience. This proactive approach to monitoring helps prevent disruptions, optimize performance, and deliver a seamless, high-quality experience for users, ultimately contributing to overall success and satisfaction.`,
  },
];
const topSectionContent = {
  heading: "Technologies we",
  word: "use?",
  para: `We leverage cutting-edge technologies to deliver innovative,
      high-performance solutions that drive success and exceed your expectations`,
  btnText: "technologies",
};
---

<section class='flex flex-col items-center gap-10 max-w-480 mx-auto'>
  <TopSection {...topSectionContent} />
  {
    cards.map((data, index) => {
      return (
        <TechnologyCard
          {...data}
          reverse={index & 1}
        />
      );
    })
  }
</section>
