---
const { src, title, content, reverse, index } = Astro.props;
---

<div
  class=`w-full h-full xl:my-10 flex ${reverse ? 'flex-col-reverse sm:flex-row-reverse' : 'flex-col-reverse sm:flex-row'} justify-between items-center md:gap-10 lg:gap-0 card-animate-on-touch`
>
  <div
    class='text-white h-full flex flex-col justify-start items-start gap-3 lg:gap-5 md:max-w-82.25 lg:max-w-122.75 xl:max-w-145.25'
  >
    <h2 class='text-[20px] lg:text-[24px] xl:text-[36px] capitalize'>
      {title}
    </h2>
    <p
      class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px] xl:leading-6 py-2 font-light xl:max-w-145.25'
    >
      {content}
    </p>
  </div>
  <div
    class=`md:h-75 md:w-75 lg:w-90 lg:h-90 xl:h-126.25 xl:w-126.25 flex items-center video-container`
  >
    <video
      src={src}
      muted
      class='object-cover w-fit h-fit tech-video'
    ></video>
  </div>
</div>
