---
import Card from "./FeatureCard.astro";
const p1 =
  "Transforming ideas into visual masterpieces, we craft stunning user experiences that captivate and convert your target audience.";
---

<section
  class='w-full md:pb-[32px] lg:pb-0 px-[20px] md:px-[40px] xl:px-[80px] lg:pt-[72px] mt-20 max-w-480 mx-auto flex justify-center items-center'
>
  <div
    class='w-auto h-full flex flex-col md:flex-row items-center gap-30 md:gap-2.5 lg:gap-5 xl:gap-4 2xl:gap-16'
  >
    <Card
      src='/Design.png'
      title='design'
      content={p1}
      width='250'
      heigh='240'
    />
    <Card
      src='/code.png'
      title='develop'
      content={p1}
      width='210'
      heigh='240'
    />
    <Card
      src='/Grow.png'
      title='grow'
      content={p1}
      width='300'
      heigh='240'
    />
  </div>
</section>
