---
import Card from "./FeatureCard.astro";
const p1 =
  "Transforming ideas into visual masterpieces, we craft stunning user experiences that captivate and convert your target audience.";
const p2 = `Product development guided by industry standards, ensuring the efficient delivery of reliable and top-tier robust and scalable software solutions.
`;
const p3 = `Accelerating digital product growth via iterative improvements and refinements ensuring market leadership and sustained user engagement.
`;
---

<section
  class='w-full md:pb-8 lg:pb-0 px-5 md:px-10 2xl:px-20 lg:pt-23 xl:pt-22 mt-20 max-w-480 mx-auto flex justify-center items-center'
>
  <div
    class='w-auto h-full grid md:grid-cols-3 items-center gap-27 sm:gap-2.5 lg:gap-4.5 xl:gap-5 2xl:gap-16'
  >
    <Card
      src='/core-services/design-animation/0001.webp'
      title='design'
      content={p1}
    />
    <Card
      src='/core-services/develop-animation/0001.webp'
      title='develop'
      content={p2}
    />
    <Card
      src='/core-services/grow-animation/0001.webp'
      title='grow'
      content={p3}
    />
  </div>
</section>
