---
import Card from "./FeatureCard.astro";
const p1 =
  "Transforming ideas into visual masterpieces, we craft stunning user experiences that captivate and convert your target audience.";
---

<section
  class='w-full min-h-172.5 max-w-480 mx-auto mt-20 flex justify-center items-center'
>
  <div
    class='w-auto lg:w-[90%] h-full lg:mx-20 flex flex-col md:flex-row justify-center items-center mx-5 gap-20 md:gap-2 lg:gap-5'
  >
    <Card
      src='/Design.png'
      title='design'
      content={p1}
      width='250'
      heigh='240'
    />
    <Card
      src='/code.png'
      title='develop'
      content={p1}
      width='210'
      heigh='240'
    />
    <Card
      src='/Grow.png'
      title='grow'
      content={p1}
      width='300'
      heigh='240'
    />
  </div>
</section>
