---
import TopSection from "../top-section/Topsection.astro";
import ExperienceCard from "./ExperienceCard.astro";
const cards = [
  {
    src: "industries/healthcare/0001.webp",
    title: "healthcare",
    content:
      "We develop apps & websites that streamline operations, elevate patient care, and empower healthcare.",
    list: [
      "Telemedicine Platform",
      "Patient Health Management System",
      "Virtual Health Coaching",
    ],
  },
  {
    src: "/industries/e-commerce/0001.webp",
    title: "eCommerce",
    content:
      "We craft user-friendly e-Commerce solutions that drive conversions and build customer loyalty.",
    list: ["Multi-Channel Retail Platforms", "B2B platforms", "B2C solutions"],
  },
  {
    src: "/industries/sports/0001.webp",
    title: "Sports",
    content:
      "We design and develop fan-centric sports platforms that drive engagement and connect communities.",
    list: [
      "Fitness Tracking Apps",
      "Personal Training & Coaching Solutions",
      "Activity and Performance Tracking solutions",
    ],
  },
  {
    src: "/industries/business-solutions/0001.webp",
    title: "business solutions",
    content:
      "We craft custom design & development solutions to streamline workflows, boost efficiency, and fuel growth.",
    list: ["CRM apps", "Project Management apps", "Custom Business solutions"],
  },
  {
    src: "/industries/on-demand-solutions/0001.webp",
    title: "on demand solutions",
    content:
      "Craft seamless on demand experiences with our design and development expertise. Get what you need.",
    list: ["Online Classes App", "E-Learning Portals ", "School Management"],
  },
];
const topSectionContent = {
  heading: "Our Diverse Industry ",
  word: "Experiences?",
  para: `Our team is dedicated to designing digital solutions that meet the unique demands of various sectors leveraging the latest technology to meet unique industry demands and drive innovation.`,
  btnText: "Industries we serve",
};
---

<section
  class='relative flex flex-col items-center gap-8 sm:gap-12 lg:gap-15 xl:gap-16! max-w-480 mx-auto md:pt-17.5 pt-15 lg:pt-22.5 xl:pt-30!'
>
  <TopSection
    {...topSectionContent}
    wrap=' text-wrap lg:text-nowrap'
  />
  <div
    class='absolute sm:right-[2%] sm:top-[23%]
    md:top-[28%]
    lg:right-10 lg:top-50 xl:right-[6%]! xl:top-[25%]! hidden md:flex justify-center items-center gap-5'
  >
    <svg
      width='14'
      height='9'
      viewBox='0 0 14 9'
      fill='none'
      class='w-6 h-6 left-arrow'
      xmlns='http://www.w3.org/2000/svg'
      ><path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M4.90906 0.265207C4.50324 -0.109399 3.87058 -0.0840962 3.49597 0.321722L0.265201 3.82168C-0.0883963 4.20474 -0.0884 4.79518 0.265194 5.17824L3.49597 8.67828C3.87057 9.08411 4.50323 9.10941 4.90905 8.73481C5.31487 8.36021 5.34018 7.72755 4.96558 7.32173L3.28397 5.49997L13 5.49997C13.5523 5.49997 14 5.05225 14 4.49997C14 3.94768 13.5523 3.49997 13 3.49997L3.284 3.49997L4.96557 1.67829C5.34018 1.27247 5.31487 0.639813 4.90906 0.265207Z'
      ></path></svg
    >

    <svg
      width='14'
      height='9'
      viewBox='0 0 14 9'
      fill='none'
      class='w-6 h-6 right-arrow'
      xmlns='http://www.w3.org/2000/svg'
      ><path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M9.09094 0.265207C9.49676 -0.109399 10.1294 -0.0840962 10.504 0.321722L13.7348 3.82168C14.0884 4.20474 14.0884 4.79518 13.7348 5.17824L10.504 8.67828C10.1294 9.08411 9.49677 9.10941 9.09095 8.73481C8.68513 8.36021 8.65982 7.72755 9.03442 7.32173L10.716 5.49997L0.999999 5.49997C0.447714 5.49997 -7.64154e-07 5.05225 -7.86799e-07 4.49997C-8.09444e-07 3.94768 0.447714 3.49997 0.999999 3.49997L10.716 3.49997L9.03443 1.67829C8.65982 1.27247 8.68513 0.639813 9.09094 0.265207Z'
      ></path></svg
    >
  </div>
  <div
    class='overflow-auto w-full flex gap-4 xl:gap-5! 2xl:gap-5! no-scrollbar pl-6 pr-10 2xl:pr-20! md:pl-10 lg:pl-15 xl:pl-20! 2xl:pl-40! scrollbar grayscale why-us-container'
  >
    {
      cards.map((data) => {
        return <ExperienceCard {...data} />;
      })
    }
  </div>
</section>
<style>
  @media screen and (min-width: 1600px) {
    .why-us-container {
      gap: 20px !important;
    }
  }
</style>
<script>
  const leftArrow = document.querySelector(".left-arrow") as any;
  const rightArrow = document.querySelector(".right-arrow") as any;
  const scrollbar = document.querySelector(".scrollbar") as any;
  let isPressed = false; // In order to track if pressed on slider to slide or not.
  let startX;
  let scrollLeft;

  if (scrollbar.scrollLeft === 0) {
    leftArrow.style.fill = "#777E91";
    rightArrow.style.fill = "white";
  }
  scrollbar.addEventListener("scroll", () => {
    const isAtStart = scrollbar.scrollLeft === 0;

    const isAtEnd =
      Math.ceil(scrollbar.scrollLeft + scrollbar.clientWidth) >=
      scrollbar.scrollWidth;

    leftArrow.style.fill = isAtStart ? "#777E91" : "white";

    rightArrow.style.fill = isAtEnd ? "#777E91" : "white";
  });

  rightArrow.addEventListener("click", () => {
    scrollbar.scrollBy({ left: 350, behavior: "smooth" });
  });

  leftArrow.addEventListener("click", () => {
    scrollbar.scrollBy({ left: -350, behavior: "smooth" });
  });

  scrollbar.addEventListener("mousedown", (e: any) => {
    isPressed = true;

    startX = e.pageX - scrollbar.offsetLeft;
    scrollLeft = scrollbar.scrollLeft;
    scrollbar.style.cursor = "grabbing";
  });
  scrollbar.addEventListener("touchstart", (e: any) => {
    isPressed = true;

    startX = e.pageX - scrollbar.offsetLeft;
    scrollLeft = scrollbar.scrollLeft;
    scrollbar.style.cursor = "grabbing";
  });

  scrollbar.addEventListener("mouseleave", () => {
    isPressed = false;
    scrollbar.style.cursor = "grab";
  });
  scrollbar.addEventListener("touchend", () => {
    isPressed = false;
    scrollbar.style.cursor = "grab";
  });

  scrollbar.addEventListener("mouseup", () => {
    isPressed = false;
    scrollbar.style.cursor = "grab";
  });

  scrollbar.addEventListener("mousemove", (e: any) => {
    if (!isPressed) return;
    e.preventDefault();

    const x = e.pageX - scrollbar.offsetLeft;
    const walk = (x - startX) * 1.2;
    scrollbar.scrollLeft = scrollLeft - walk;
  });
</script>
