---
import { MoveLeft, MoveRight } from "@lucide/astro";
import TopSection from "../top-section/Topsection.astro";
import ExperienceCard from "./ExperienceCard.astro";
const cards = [
  {
    src: "industries/healthcare/0001.webp",
    title: "healthcare",
    content:
      "We develop apps & websites that streamline operations, improve patient care, and empower the healthcare industry.",
    list: [
      "Telemedicine Platform",
      "Patient Health Management System",
      "Virtual Health Coaching",
    ],
  },
  {
    src: "/industries/e-commerce/0001.webp",
    title: "eCommerce",
    content:
      "We craft user-friendly eCommerce solutions that drive conversions and build customer loyalty.",
    list: ["Multi-Channel Retail Platforms", "Doctor-On-Demand", "Fitness App"],
  },
  {
    src: "/industries/sports/0001.webp",
    title: "Sports",
    content:
      "We design and develop fan-centric sports platforms that drive engagement and connect communities.",
    list: [
      "Fitness Tracking Apps",
      "Personal Training & Coaching Solutions",
      "Activity and Performance Tracking solutions",
    ],
  },
  {
    src: "/industries/business-solutions/0001.webp",
    title: "business solutions",
    content:
      "We craft user-friendly eCommerce solutions that drive conversions and build customer loyalty.",
    list: ["Multi-Channel Retail Platforms", "Doctor-On-Demand", "Fitness App"],
  },
  {
    src: "/industries/on-demand-solutions/0001.webp",
    title: "on demand solutions",
    content:
      "We craft user-friendly eCommerce solutions that drive conversions and build customer loyalty.",
    list: ["Multi-Channel Retail Platforms", "Doctor-On-Demand", "Fitness App"],
  },
];
const topSectionContent = {
  heading: "Our Diverse Industry ",
  word: "Experiences?",
  para: `Our team is dedicated to designing digital solutions that meet the unique demands of various sectors leveraging the latest technology to meet unique industry demands and drive innovation.`,
  btnText: "Industries we serve",
};
---

<section
  class='relative flex flex-col items-center gap-8 sm:gap-12 lg:gap-15 xl:gap-16 max-w-480 mt-10 mx-auto md:pt-17.5 pt-15 lg:pt-22.5 xl:pt-30'
>
  <TopSection {...topSectionContent} />
  <div
    class='absolute sm:right-10 sm:top-40 lg:right-10 lg:top-50 xl:right-35 xl:top-65 hidden md:flex justify-center items-center gap-3'
  >
    <MoveLeft
      size='30'
      class='left-arrow cursor-pointer'
    />
    <MoveRight
      size='30'
      class='right-arrow cursor-pointer'
    />
  </div>
  <div
    class='overflow-auto w-full flex gap-4 xl:gap-5 no-scrollbar px-6 md:pl-10 lg:pl-15 xl:pl-40 scrollbar'
  >
    {
      cards.map((data) => {
        return <ExperienceCard {...data} />;
      })
    }
  </div>
</section>
<script>
  const leftArrow = document.querySelector(".left-arrow") as any;
  const rightArrow = document.querySelector(".right-arrow") as any;
  const scrollbar = document.querySelector(".scrollbar") as any;
  let isPressed = false; // In order to track if pressed on slider to slide or not.
  let startX;
  let scrollLeft;

  if (scrollbar.scrollLeft === 0) {
    leftArrow.style.color = "#777E91";
    rightArrow.style.color = "white";
  }
  scrollbar.addEventListener("scroll", () => {
    const isAtStart = scrollbar.scrollLeft === 0;

    const isAtEnd =
      Math.ceil(scrollbar.scrollLeft + scrollbar.clientWidth) >=
      scrollbar.scrollWidth;

    leftArrow.style.color = isAtStart ? "#777E91" : "white";

    rightArrow.style.color = isAtEnd ? "#777E91" : "white";
  });

  rightArrow.addEventListener("click", () => {
    scrollbar.scrollBy({ left: 350, behavior: "smooth" });
  });

  leftArrow.addEventListener("click", () => {
    scrollbar.scrollBy({ left: -350, behavior: "smooth" });
  });

  scrollbar.addEventListener("mousedown", (e) => {
    isPressed = true;

    startX = e.pageX - scrollbar.offsetLeft;
    scrollLeft = scrollbar.scrollLeft;
    scrollbar.style.cursor = "grabbing";
  });

  scrollbar.addEventListener("mouseleave", () => {
    isPressed = false;
    scrollbar.style.cursor = "grab";
  });

  scrollbar.addEventListener("mouseup", () => {
    isPressed = false;
    scrollbar.style.cursor = "grab";
  });

  scrollbar.addEventListener("mousemove", (e) => {
    if (!isPressed) return;
    e.preventDefault();

    const x = e.pageX - scrollbar.offsetLeft;
    const walk = (x - startX) * 1.2;
    scrollbar.scrollLeft = scrollLeft - walk;
  });
</script>
