---
const { src, title, content, list } = Astro.props;
---

<div
  class='h-auto w-[50%] lg:w-[28%] bg-[#282828B2] rounded-4xl relative flex flex-col gap-5 p-5 card shrink-0'
>
  <div class='w-[40%]'>
    <img
      src={src}
      alt='customerSupport'
      class='object-cover'
    />
  </div>
  <div class='w-full text-white flex flex-col gap-2 px-2 pb-3 h-full'>
    <span class='font-semibold text-lg capitalize'> {title} </span>
    <p class='opacity-70'>
      {content}
    </p>
  </div>
  <ul class='text-white list-disc px-6 space-y-2'>
    {
      list?.map((data: unknown) => {
        return <li>{data}</li>;
      })
    }
  </ul>
</div>
