---
const { title, content, list } = Astro.props;
---

<div
  class='bg-[#282828B2] rounded-[20px] lg:rounded-4xl relative flex flex-col 4 card max-w-77.75 sm:max-w-78.75 md:max-w-77.5
  lg:max-w-100 xl:max-w-87.5 2xl:max-w-113.5 shrink-0 dark-btn-shadow dropdown-bg dropdown-shadow-button
  experience-card hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466] select-none card-animate-on-touch'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl xl:pt-4 xl:px-4 xl:gap-2 flex flex-col dark-btn-shadow dropdown-bg dropdown-shadow-button lg:gap-9 px-4 pt-6.25 lg:px-7.5 lg:py-3.5'
  >
    <canvas
      class='md:w-25 md:h-25 lg:w-29.25 lg:h-28 xl:h-44.75 xl:w-42.5 w-25 h-25'
    ></canvas>
    <div class='w-full text-white flex flex-col justify-end gap-2 h-fit'>
      <h3
        class='font-medium text-[14px] lg:text-[16px] xl:text-[19px] capitalize'
      >
        {title}
      </h3>
      <p class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px]'>
        {content}
      </p>
      <ul
        class='text-white list-disc pl-4 font-medium space-y-2 text-[13px] md:text-[14px] lg:text-[14px] xl:text-[18px] grow'
      >
        {
          list?.map((data: unknown) => {
            return <li>{data}</li>;
          })
        }
      </ul>
    </div>
  </div>
</div>

<script>
  const cards = document.querySelectorAll(".experience-card");

  const imagePaths = [
    { name: "healthcare", imageCount: 60 },
    { name: "e-commerce", imageCount: 70 },
    { name: "sports", imageCount: 40 },
    { name: "business-solutions", imageCount: 100 },
    { name: "on-demand-solutions", imageCount: 60 },
  ];

  const currentFrame = (index, path) => {
    return `industries/${path}/${index.toString().padStart(4, "0")}.webp`;
  };

  cards.forEach((card, index) => {
    const { name, imageCount } = imagePaths[index];

    const canvas = card.querySelector("canvas") as HTMLCanvasElement;
    const ctx = canvas.getContext("2d");

    canvas.width = canvas.offsetWidth;
    canvas.height = canvas.offsetHeight;

    let images: any = [];
    let frame = 0;
    let animationId: null | number = null;

    let isLoaded = false;
    let isAnimating = false;
    let isHovering = false;
    let hasPlayedForward = false;

    const preloadImages = () => {
      const promises: any = [];

      for (let i = 1; i <= imageCount; i++) {
        const img = new Image();
        img.src = currentFrame(i, name);
        images.push(img);

        promises.push(
          new Promise((resolve) => {
            img.onload = resolve;
            img.onerror = resolve;
          }),
        );
      }

      Promise.all(promises).then(() => {
        isLoaded = true;
        ctx?.drawImage(images[0], 0, 0, canvas.width, canvas.height);
      });
    };

    preloadImages();

    const animateForward = () => {
      if (!isLoaded) return;

      isAnimating = true;

      ctx?.clearRect(0, 0, canvas.width, canvas.height);
      ctx?.drawImage(images[frame], 0, 0, canvas.width, canvas.height);

      if (frame < imageCount - 1) {
        frame++;
        animationId = requestAnimationFrame(animateForward);
      } else {
        hasPlayedForward = true;
        isAnimating = false;

        if (!isHovering) {
          animateReverse();
        }
      }
    };

    const animateReverse = () => {
      if (!isLoaded) return;

      isAnimating = true;

      ctx?.clearRect(0, 0, canvas.width, canvas.height);
      ctx?.drawImage(images[frame], 0, 0, canvas.width, canvas.height);

      if (frame > 0) {
        frame--;
        animationId = requestAnimationFrame(animateReverse);
      } else {
        hasPlayedForward = false;
        isAnimating = false;
      }
    };

    card.addEventListener("mouseenter", () => {
      isHovering = true;

      if (!isAnimating && !hasPlayedForward) {
        animateForward();
      }
    });
    card.addEventListener("touchstart", () => {
      isHovering = true;

      if (!isAnimating && !hasPlayedForward) {
        animateForward();
      }
    });
    card.addEventListener("touchend", () => {
      isHovering = false;

      if (!isAnimating && hasPlayedForward) {
        animateReverse();
      }
    });

    card.addEventListener("mouseleave", () => {
      isHovering = false;

      if (!isAnimating && hasPlayedForward) {
        animateReverse();
      }
    });
  });
</script>
