---
const { src, title, content, list } = Astro.props;
---

<div
  class='bg-[#282828B2] rounded-4xl relative flex flex-col 4 card max-w-77.75 sm:max-w-78.75 md:max-w-77.5
  lg:max-w-100 xl:max-w-87.5 2xl:max-w-113.5 shrink-0 dark-btn-shadow dropdown-bg dropdown-shadow-button
  experience-card hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466]'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl pb-6 xl:pt-4 xl:px-8 xl:gap-2 flex flex-col dark-btn-shadow dropdown-bg dropdown-shadow-button lg:gap-9 px-4 pt-6.25 lg:px-7.5 lg:py-3.5'
  >
    <canvas
      class='md:w-25 md:h-25 lg:w-29.25 lg:h-28 xl:h-44.75 xl:w-42.5 w-25 h-25'
    ></canvas>
    <div
      class='w-full text-white flex flex-col justify-end py-4 lg:py-0 gap-2 h-fit xl:py-5'
    >
      <h3
        class='font-medium text-[14px] lg:text-[16px] xl:text-[19px] capitalize'
      >
        {title}
      </h3>
      <p class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px]'>
        {content}
      </p>
      <ul
        class='text-white list-disc pl-4 font-medium space-y-2 text-[13px] md:text-[14px] lg:text-[14px] xl:text-[18px] grow'
      >
        {
          list?.map((data: unknown) => {
            return <li>{data}</li>;
          })
        }
      </ul>
    </div>
  </div>
</div>

<script>
  const cards = document.querySelectorAll(".experience-card");
  const imagePaths = [
    { name: "healthcare", imageCount: 60 },
    { name: "e-commerce", imageCount: 70 },
    { name: "sports", imageCount: 40 },
    { name: "business-solutions", imageCount: 100 },
    { name: "on-demand-solutions", imageCount: 60 },
  ];
  const currentFrame = (index: number, path: string) => {
    return `industries/${path}/${index.toString().padStart(4, "0")}.webp`;
  };

  const img = new Image();

  const updateImage = (
    i: number,
    imageCount: number,
    path: string,
    ctx: any,
    width: number,
    height: number,
  ) => {
    if (i > imageCount) return;
    img.src = currentFrame(i, path);

    img.onload = () => {
      ctx?.clearRect(0, 0, width, height);
      ctx?.drawImage(img, 0, 0, width, height);

      requestAnimationFrame(() =>
        updateImage(i + 1, imageCount, path, ctx, width, height),
      );
    };
  };

  const updateImageWhenLeave = (
    i: number,
    path: string,
    ctx: any,
    width: number,
    height: number,
  ) => {
    if (i < 1) return;
    img.src = currentFrame(i, path);

    img.onload = () => {
      ctx?.clearRect(0, 0, width, height);
      ctx?.drawImage(img, 0, 0, width, height);

      requestAnimationFrame(() =>
        updateImageWhenLeave(i - 1, path, ctx, width, height),
      );
    };
  };

  // Render only first image when page loads.
  cards.forEach((card, index) => {
    const img = new Image();
    img.src = currentFrame(1, imagePaths[index].name);

    const canvas = card.children[0].children[0] as any;
    const ctx = canvas?.getContext("2d");
    img.onload = () => {
      ctx.drawImage(img, 0, 0, canvas.width, canvas?.height);
    };
  });

  cards.forEach((card, index) => {
    card.addEventListener("mouseenter", () => {
      const canvas = card.children[0].children[0] as any;
      const ctx = canvas?.getContext("2d");
      updateImage(
        1,
        imagePaths[index].imageCount,
        imagePaths[index].name,
        ctx,
        canvas?.width,
        canvas?.height,
      );
    });
  });

  cards.forEach((card, index) => {
    card.addEventListener("mouseleave", () => {
      const canvas = card.children[0].children[0] as any;
      const ctx = canvas?.getContext("2d");
      updateImageWhenLeave(
        imagePaths[index].imageCount,
        imagePaths[index].name,
        ctx,
        canvas.width,
        canvas?.height,
      );
    });
  });
</script>
