---
import Slider from "../slider/slider.astro";
import TopSection from "../top-section/Topsection.astro";
const cards = [
  {
    src: "industries/healthcare/0001.webp",
    title: "healthcare",
    content:
      "We develop apps & websites that streamline operations, elevate patient care, and empower healthcare.",
    list: [
      "Telemedicine Platform",
      "Patient Health Management System",
      "Virtual Health Coaching",
    ],
  },
  {
    src: "/industries/e-commerce/0001.webp",
    title: "eCommerce",
    content:
      "We craft user-friendly e-Commerce solutions that drive conversions and build customer loyalty.",
    list: ["Multi-Channel Retail Platforms", "B2B platforms", "B2C solutions"],
  },
  {
    src: "/industries/sports/0001.webp",
    title: "Sports",
    content:
      "We design and develop fan-centric sports platforms that drive engagement and connect communities.",
    list: [
      "Fitness Tracking Apps",
      "Personal Training & Coaching Solutions",
      "Activity and Performance Tracking solutions",
    ],
  },
  {
    src: "/industries/business-solutions/0001.webp",
    title: "business solutions",
    content:
      "We craft custom design & development solutions to streamline workflows, boost efficiency, and fuel growth.",
    list: ["CRM apps", "Project Management apps", "Custom Business solutions"],
  },
  {
    src: "/industries/on-demand-solutions/0001.webp",
    title: "on demand solutions",
    content:
      "Craft seamless on demand experiences with our design and development expertise. Get what you need.",
    list: ["Online Classes App", "E-Learning Portals ", "School Management"],
  },
];
const topSectionContent = {
  heading: "Our diverse Industry",
  word: "Experiences?",
  para: `Our team is dedicated to designing digital solutions that meet the unique demands of various sectors leveraging the latest technology to meet unique industry demands and drive innovation`,
  btnText: "Industries we serve",
};
---

<section
  class='relative flex flex-col items-center gap-8 sm:gap-12 lg:gap-15 xl:gap-[70px]! max-w-480 mx-auto md:pt-17.5 pt-15 lg:pt-30'
>
  <TopSection
    {...topSectionContent}
    wrap=' text-wrap lg:text-nowrap'
  />

  <Slider />
</section>
<style>
  @media screen and (width: 1024px) {
    .experience-container {
      padding-left: 60px;
    }
  }
  @media screen and (width: 1280px) {
    .experience-container {
      gap: 20px;
    }
  }
  @media screen and (min-width: 1600px) {
    .experience-container {
      gap: 20px !important;
    }
  }
  @media screen and (width: 1024px) {
    section {
      padding-top: 90px;
    }
  }
</style>
