---
const { src, title, content, list } = Astro.props;
---

<div
  class='bg-[#282828B2] rounded-4xl relative flex flex-col 4 card max-w-77.75 sm:max-w-78.75 md:max-w-77.5
  lg:max-w-100 xl:max-w-87.5 2xl:max-w-113.5 shrink-0 dark-btn-shadow dropdown-bg dropdown-shadow-button
  experience-card hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466]'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl pb-6 xl:pt-4 xl:px-8 xl:gap-2 flex flex-col dark-btn-shadow dropdown-bg dropdown-shadow-button lg:gap-9 px-4 pt-6.25 lg:px-7.5 lg:py-3.5'
  >
    <canvas
      class='md:w-25 md:h-25 lg:w-29.25 lg:h-28 xl:h-44.75 xl:w-42.5 w-25 h-25'
    ></canvas>
    <div
      class='w-full text-white flex flex-col justify-end py-4 lg:py-0 gap-2 h-fit xl:py-5'
    >
      <h3
        class='font-medium text-[14px] lg:text-[16px] xl:text-[19px] capitalize'
      >
        {title}
      </h3>
      <p class='opacity-70 text-[13px] lg:text-[14px] xl:text-[16px]'>
        {content}
      </p>
      <ul
        class='text-white list-disc pl-4 font-medium space-y-2 text-[13px] md:text-[14px] lg:text-[14px] xl:text-[18px] grow'
      >
        {
          list?.map((data: unknown) => {
            return <li>{data}</li>;
          })
        }
      </ul>
    </div>
  </div>
</div>

<script>
  const cards = document.querySelectorAll(".experience-card");

  const imagePaths = [
    { name: "healthcare", imageCount: 60 },
    { name: "e-commerce", imageCount: 70 },
    { name: "sports", imageCount: 40 },
    { name: "business-solutions", imageCount: 100 },
    { name: "on-demand-solutions", imageCount: 60 },
  ];

  const currentFrame = (index: number, path: string) => {
    return `industries/${path}/${index.toString().padStart(4, "0")}.webp`;
  };

  cards.forEach((card, index) => {
    const { name, imageCount } = imagePaths[index];

    const canvas = card.querySelector("canvas") as HTMLCanvasElement;
    const ctx = canvas.getContext("2d");

    let frame = 1;
    let animationId: number | null = null;
    let direction: "forward" | "backward" = "forward";
    let mouseInside = false;
    let isAnimating = false;
    let hasCompletedForward = false;

    const img = new Image();

    const animate = () => {
      img.src = currentFrame(frame, name);

      img.onload = () => {
        ctx?.clearRect(0, 0, canvas.width, canvas.height);
        ctx?.drawImage(img, 0, 0, canvas.width, canvas.height);

        if (direction === "forward") {
          if (frame < imageCount) {
            frame++;
          } else {
            hasCompletedForward = true;

            if (!mouseInside) {
              direction = "backward";
              frame--;
            } else {
              isAnimating = false;
              return;
            }
          }
        } else {
          if (frame > 1) {
            frame--;
          } else {
            // fully reversed
            isAnimating = false;
            hasCompletedForward = false;
            return;
          }
        }

        animationId = requestAnimationFrame(animate);
      };
    };

    // Initial frame render
    const firstImg = new Image();
    firstImg.src = currentFrame(1, name);
    firstImg.onload = () => {
      ctx?.drawImage(firstImg, 0, 0, canvas.width, canvas.height);
    };

    card.addEventListener("mouseenter", () => {
      mouseInside = true;

      if (isAnimating) return;

      direction = "forward";
      frame = 1;
      isAnimating = true;
      hasCompletedForward = false;

      if (animationId) cancelAnimationFrame(animationId);
      animate();
    });

    card.addEventListener("mouseleave", () => {
      mouseInside = false;

      if (hasCompletedForward && !isAnimating) {
        direction = "backward";
        frame = imageCount - 1;
        isAnimating = true;

        if (animationId) cancelAnimationFrame(animationId);
        animate();
      }
    });
  });
</script>
