---
import { ChevronDown, ArrowUpRight, ChevronRight, Menu } from "@lucide/astro";

// const navigations = [
//   "ecommerce development",
//   "web app development",
//   "mobile app development",
//   "ui/ux design",
//   "low code development",
//   "admin development",
//   "headless cms development",
//   "website development",
// ];
---

<header
  class='bg-black w-full h-16 md:h-32 flex items-center relative max-w-480 mx-auto'
>
  <div
    class='relative w-full px-5 lg:px-0 h-auto mx-auto lg:mx-20.25 flex justify-between items-center text-white'
  >
    <span class='inline-block'>
      <img
        src='sookshum-logo.svg'
        alt='sookshum-logo'
        width='155'
        height='45'
        class='object-contain'
      />
    </span>
    <div class='hidden md:flex font-bold'>
      <ul
        class='flex md:gap-2 lg:gap-8 items-center justify-between text-sm tlg:ext-md'
      >
        <li>
          <a>Home</a>
        </li>
        <li class='flex gap-1 items-center services cursor-pointer'>
          <a>Services</a>
          <ChevronDown />
        </li>
        <li>
          <a>Work</a>
        </li>
        <li>
          <a>About us</a>
        </li>
        <li>
          <a>Blog</a>
        </li>
      </ul>
    </div>
    <div
      class='font-bold h-13.75 md:text-md text-base px-3 lg:px-6 hidden md:flex items-center rounded-full bg-[#F79A12] cursor-pointer'
    >
      <button class='w-full h-full flex justify-between items-center gap-3'>
        Get In touch <ArrowUpRight /></button
      >
    </div>
    <div class='flex justify-end items-center w-full md:hidden'>
      <Menu size={30} />
    </div>

    <!-- <div
    class='w-full h-0 p-0 bg-black overflow-hidden absolute left-0 right-0 top-[63%] dropdown z-20 flex justify-between'
  >
    <div class='flex justify-between w-full gap-10 relative'>
      {/** first option */}
      <div
        class='text-white font-black poppins-regular flex flex-col gap-2 min-w-125'
      >
        {
          navigations.map((text, index) => {
            return (
              <span class='flex w-full capitalize hover:bg-white/10 px-10 py-7 rounded-full items-center justify-between gap-10 text-xl'>
                {text}
                <ChevronRight color='white' />
              </span>
            );
          })
        }
      </div>
      <div class='w-full flex justify-between'>
        <div class='h-full w-[40%] gap-5 flex flex-col'>
          <span
            class='flex w-full text-white capitalize bg-white/10 hover:bg-white/20 transition-all duration-300 px-5 font-bold py-5 min-w-100 rounded-[50px] items-center gap-5 text-xl'
          >
            <span class='w-20 h-20 rounded-2xl inline-block bg-white'></span>
            Shopify
          </span>
          <span
            class='flex w-full text-white capitalize bg-white/10 hover:bg-white/20 transition-all duration-300 px-5 font-bold py-5 min-w-100 rounded-[50px] items-center gap-5 text-xl'
          >
            <span class='w-20 h-20 rounded-2xl inline-block bg-white'></span>
            Shopify
          </span>
        </div>
        <div class='w-[40%]'>
          <div
            class='w-full h-fit flex flex-col rounded-4xl bg-white/10 p-5 gap-2'
          >
            <video
              src='/let-connect.webm'
              autoplay
              loop
              class='object-contain w-full z-1 rounded-4xl'
            ></video>
            <span
              class='text-white block px-5 text-2xl font-bold poppins-regular'
              >Let's create a project.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</header>
