---
import { ArrowUpRight } from "@lucide/astro";
---

<section
  class='w-full h-fit text-white poppins-regular my-10 bg-black max-w-480 mx-auto'
>
  <div
    class='flex relative md:flex-row flex-col justify-between h-fit max-w-480 mx-5 md:mx-20.25 my-20'
  >
    <div
      class='w-full md:w-fit min-h-142.5 flex flex-col justify-evenly md:justify-between font-poppins z-10 bg-transparent'
    >
      <div class='flex flex-col gap-10 w-full'>
        <span
          class='w-fit px-6.25 py-2.5 bg-white/10 border border-white/20 backdrop-blur-3xl rounded-[25px] flex justify-center items-center gap-3'
        >
          <span class='inline-block w-2 h-2 bg-green-400 rounded-full'></span>
          <span class='text-lg font-bold'>Open For Projects</span>
        </span>
        <div class='flex flex-col gap-5 w-full'>
          <h1
            class='text-[45px] md:text-[70px] lg:text-[80px] md:leading-26 font-extrabold bg-linear-to-r from-[#EAEAEA] to-[#ADADAD] text-transparent bg-clip-text h-fit'
          >
            We deliver <span
              class='inline-block bg-linear-to-r from-[#E17C27] to-[#DF5E26] bg-clip-text text-transparent'
            >
              top notch
            </span><br /> Custom Digital Solutions
          </h1>
          <p
            class='lg:max-w-180 max-w-187.5 w-full sm:max-w-110.5 xs:max-w-[352px] font-poppins font-medium xs:font-normal xs:text-sm sm:text-2xl tracking-tight leading-8 text-[#F8F8F8B2] opacity-70'
          >
            We are a reliable technology partner to meet your custom software
            solution needs
          </p>
        </div>
      </div>
      <div
        class='px-8 text-xl font-bold py-5 rounded-full bg-[#F79A12] w-fit md:mt-10 cursor-pointer'
      >
        <button class='w-full h-full flex justify-between items-center gap-2'>
          Request a Quote <ArrowUpRight /></button
        >
      </div>
    </div>

    <video
      src='/sookshum-hero-video.webm'
      autoplay
      loop
      muted
      class='object-contain md:absolute md:-right-20 xl:bottom-0 xl:-top-10 md:top-30 w-auto h-150 z-1'
    ></video>
  </div>
</section>
