---
import { ChevronRight } from "@lucide/astro";
const navigations = [
  "ecommerce development",
  "web app development",
  "mobile app development",
  "ui/ux design",
  "low code development",
  "admin development",
  "headless cms development",
  "website development",
];
---

<div
  class='max-w-480 md:block z-999 border border-[#ffffff1a] border-t-0 rounded-bl-4xl rounded-br-4xl mx-auto lg:pt-8.5 lg:px[40px] xl:px-20 px-5 md:px-10 w-full hide-dropdown bg-[#151515] overflow-hidden absolute left-0 right-0 top-[80%] dropdown flex'
>
  <div
    class='flex justify-between w-full z-999 gap-10 relative sm:gap-4 xl:py-8 lg:gap-5 xl:gap-26.25'
  >
    {/** first option */}
    <div class='text-white font-black poppins-regular flex flex-col gap-2 grow'>
      {
        navigations.map((text, index) => {
          return (
            <span class='services-dropdown block flex w-full border border-[#151515] hover:border-[#ffffff1a] capitalize h-18  lg:py-4 lg:pl-8 lg:pr-6.5 rounded-full items-center justify-between gap-10 text-sm shrink-0 hover:text-white text-gray-400 '>
              {text}
              <ChevronRight class='text-gray-400 hover:text-white' />
            </span>
          );
        })
      }
    </div>
    <div
      class='flex justify-between z-999 relative gap-3.5 sm:gap-4 lg:gap-5 xl:gap-26.25 sm:w-[63.79%] w-[46.7%]'
    >
      <div
        class='link-container flex flex-col sm:grow items-start gap-3.5 w-full pl-2 sm:p-0 sm:w-fit'
      >
        <span
          class='flex w-full text-white capitalize bg-[#1c1c1c] hover:bg-[#ffffff1a] hover:transition-all hover:duration-500 p-0 sm:p-4 gap-4
            rounded-4xl items-center text-sm sm:text-base xl:text-[18px] dark-btn-shadow cursor-pointer dropdown-shadow-button'
          style='box-shadow : 2px 4px 16px 0px #f8f8f80f inset;'
        >
          <span class='w-15 h-15 rounded-2xl inline-block'>
            <img
              src='/shopify.webp'
              class='object-contain w-full h-full'
            />
          </span>
          Shopify
        </span>
        <span
          class='flex w-full text-white capitalize bg-[#1c1c1c] hover:bg-[#ffffff1a] transition-all duration-500 p-0 sm:p-4 gap-4
            rounded-4xl items-center text-sm sm:text-base xl:text-[18px] dark-btn-shadow cursor-pointer dropdown-shadow-button'
          style='box-shadow : 2px 4px 16px 0px #f8f8f80f inset;'
        >
          <span class='w-15 h-15 rounded-2xl inline-block'>
            <img
              src='/magento.webp'
              class='object-contain w-full h-full'
            />
          </span>
          Magento
        </span>
      </div>

      <div
        class='p-4 rounded-4xl w-fit h-fit gap-2 flex flex-col bg-[#1c1c1c] video-card cursor-pointer'
        style='box-shadow : 2px 4px 16px 0px #f8f8f80f inset;'
      >
        <div
          class='flex flex-col xl:h-45 xl:w-79 w-58 h-47.5 rounded-4xl cursor-pointer'
        >
          <video
            src='/let-connect.webm'
            id='video'
            muted
            class='object-cover w-full h-full z-1 rounded-4xl'
          ></video>
        </div>
        <span
          class='font-poppins sm:text-base text-sm font-normal xl:text-[18px] w-full text-white capitalize'
          >Let's create a project.</span
        >
      </div>
    </div>
  </div>
</div>
