---
import Dropdown from "./dropdown.astro";
import Sidebar from "./sidebar.astro";
---

<header
  class='max-w-480 mx-auto xl:px-20 px-5 md:px-10 lg:h-30 xl:h-31 sm:h-25 h-19 flex justify-between text-white items-center relative'
>
  <span class='inline-block z-999 relative'>
    <img
      src='sookshum-logo.svg'
      alt='sookshum-logo'
      width='155'
      height='45'
      class='object-cover w-32 sm:w-38.5 shrink-0'
    />
  </span>
  <div class='hidden lg:flex h-full'>
    <ul class='flex md:gap-8 items-center text-sm md:text-[1rem]'>
      <li class='font-semibold h-full hover:text-white cursor-pointer'>
        <a class='h-full flex justify-center items-center'>Home</a>
      </li>
      <li
        class='services flex items-center gap-2 justify-center h-full hover:opacity-100 text-gray-400 hover:text-white cursor-pointer'
      >
        <a class='h-full flex justify-center items-center'>Services</a>

        <svg
          class='w-3 h-2 group-hover:fill-white transition-transform hidden md:block triangle'
          width='10'
          height='6'
          viewBox='0 0 10 6'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          ><path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M8.58579 0.333344C9.47669 0.333344 9.92286 1.41049 9.29289 2.04045L5.70711 5.62624C5.31658 6.01676 4.68342 6.01676 4.29289 5.62624L0.707108 2.04045C0.0771428 1.41049 0.523309 0.333344 1.41421 0.333344H8.58579Z'
            fill='currentColor'
          ></path></svg
        >
      </li>
      <li
        class='h-full text-gray-400 hover:text-white hover:opacity-100 cursor-pointer'
      >
        <a class='h-full flex justify-center items-center'>About us</a>
      </li>
    </ul>
  </div>
  <div class='flex gap-4'>
    <div
      class='py-0 px-5 xl:px-6 h-12 xl:h-13.75 hidden md:flex items-center rounded-full bg-[#E68624] cursor-pointer transition-all dark-bg duration-700 hover:[backdrop-filter:blur(100px)] dark-btn-shadow'
    >
      <button
        class='w-full h-full font-medium text-[13px] xl:text-[16px] flex justify-between items-center gap-2'
      >
        Get In Touch
        <img
          alt='top-arrow'
          loading='lazy'
          width='200'
          height='200'
          decoding='async'
          data-nimg='1'
          class='w-2 h-2 sm:w-2.5 sm:h-2.5'
          src='/arrow.svg'
          style='color: transparent;'
        />
      </button>
    </div>

    <div
      class='lg:hidden flex flex-col h-12 justify-center menu-bar cursor-pointer'
    >
      <svg
        width='43'
        viewBox='0 0 43 13'
        fill='none'
        class='transition-all h-3 -mt-2 top-line'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M8.95841 10.6667C7.9689 10.6667 7.16675 11.2636 7.16675 12C7.16675 12.7364 7.9689 13.3333 8.95841 13.3333H34.0418C35.0313 13.3333 35.8334 12.7364 35.8334 12C35.8334 11.2636 35.0313 10.6667 34.0418 10.6667H8.95841Z'
          fill='#F8F8F8'
        ></path></svg
      >
      <svg
        class='-mt-1 transition-all h-3 bottom-line'
        width='43'
        viewBox='0 0 43 13'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
        ><path
          d='M8.95841 10.6667C7.9689 10.6667 7.16675 11.2636 7.16675 12C7.16675 12.7364 7.9689 13.3333 8.95841 13.3333H34.0418C35.0313 13.3333 35.8334 12.7364 35.8334 12C35.8334 11.2636 35.0313 10.6667 34.0418 10.6667H8.95841Z'
          fill='#F8F8F8'
        ></path></svg
      >
    </div>
  </div>

  <Dropdown />
</header>
<script>
  const links = [
    [
      {
        text: "shopify",
        src: "/shopify.webp",
      },
      {
        text: "magento",
        src: "/magento.webp",
      },
    ],
    [
      {
        text: "nestjs",
        src: "/nestjs.webp",
      },
      {
        text: "laravel",
        src: "/laravel.webp",
      },
      {
        text: "nextjs",
        src: "/nextjs.webp",
      },
    ],
    [
      {
        text: "flutter",
        src: "/flutter.webp",
      },
    ],
    [
      {
        text: "mobile app UI design",
        src: "/design.webp",
      },
      {
        text: "website UI design",
        src: "/develop.webp",
      },
      {
        text: "web app UI design",
        src: "/web-app.webp",
      },
      {
        text: "landing page UI design",
        src: "/landing-page.webp",
      },
    ],
    [
      {
        text: "retool",
        src: "/retool.webp",
      },
      {
        text: "appsmith",
        src: "/appsmith.webp",
      },
    ],
    [
      {
        text: "retool",
        src: "/retool.webp",
      },
      {
        text: "appsmith",
        src: "/appsmith.webp",
      },
      {
        text: "nextjs",
        src: "/nextjs.webp",
      },
    ],
    [
      {
        text: "strapi",
        src: "/strapi.webp",
      },
      {
        text: "payload CMS",
        src: "/payload.webp",
      },
      {
        text: "directus",
        src: "/directus.webp",
      },
    ],
    [
      {
        text: "wordpress",
        src: "/wordpress.webp",
      },
      {
        text: "webflow",
        src: "/webflow.webp",
      },
    ],
  ];
  const items = document.querySelectorAll(".services-dropdown") as any; // items name like => web development, low code development tools
  const linkContainer = document.querySelector(".link-container") as any; // links when hover on the item show with image and text like => shopify etc.
  const video = document.querySelector(".video-card") as any; // video in the dropdown..
  const menu = document.querySelector(".menu-bar") as any; // menu bar icon double lines..
  const sidebar = document.querySelector(".sidebar") as any; // sidebar open on mobile screen.
  const topLine = document.querySelector(".top-line") as any;
  const bottomLine = document.querySelector(".bottom-line") as any;
  const services = document.querySelector(".services") as any;
  const dropdown = document.querySelector(".dropdown") as any;
  const header = document.querySelector("header") as any;

  services?.addEventListener("mouseenter", () => {
    setTimeout(() => {
      dropdown?.classList.remove("hide-dropdown");
      services.children[1].style.transform = "rotate(180deg)";
    }, 0);
  });

  services?.addEventListener("mouseleave", () => {
    setTimeout(() => {
      dropdown?.classList.remove("show-dropdown");
      dropdown?.classList.add("hide-dropdown");
      services.children[1].style.transform = "rotate(0deg)";
    }, 300);
  });
  dropdown?.addEventListener("mouseenter", () => {
    setTimeout(() => {
      services.children[1].style.transform = "rotate(180deg)";
      dropdown?.classList.remove("hide-dropdown");
    }, 320);
  });
  dropdown?.addEventListener("mouseleave", () => {
    setTimeout(() => {
      dropdown?.classList.add("hide-dropdown");
      services.children[1].style.transform = "rotate(0deg)";
    }, 300);
  });
  video?.addEventListener("mouseenter", () => {
    video.children[0].children[0]?.play();
  });

  items[0].classList.add("dropdown-bg");
  items[0].style.color = "white";
  items[0].children[0].style.color = "white";

  items.forEach((item, index) => {
    item.addEventListener("mouseenter", () => {
      item.classList.add("dropdown-bg", "dropdown-shadow-button");
      item.style.color = "white";
      item.children[0].style.color = "white";

      items.forEach((item2) => {
        if (item2 !== item) item2.classList.remove("dropdown-bg");
      });

      linkContainer.innerHTML = "";
      links[index].forEach(({ text, src }) => {
        const span = document.createElement("span");
        const span2 = document.createElement("span");
        const img = document.createElement("img");

        img.src = src;
        img.classList.add("object-contain", "w-full", "h-full");

        span.classList.add(
          "flex",
          "w-full",
          "text-white",
          "capitalize",
          "bg-[#1c1c1c]",
          "hover:bg-[#ffffff1a]",
          "hover:transition-all",
          "hover:duration-400",
          "p-0",
          "sm:p-4",
          "gap-4",
          "rounded-[32px]",
          "items-center",
          "text-sm",
          "sm:text-base",
          "xl:text-[18px]",
          "dark-btn-shadow",
          "dropdown-shadow-button",
          "cursor-pointer",
          "border",
          "hover:border",
          "hover:border-[#ffffff1a]",
          "border-black",
        );
        span2.classList.add(
          "w-[60px]",
          "h-[60px]",
          "rounded-2xl",
          "inline-block",
          "overflow-hidden",
        );
        span2.append(img);
        span.append(span2);
        span.append(text);
        linkContainer?.append(span);
      });
    });

    item.addEventListener("mouseleave", () => {
      item.classList.remove("dropdown-shadow-button");
      item.style.color = "rgb(156 163 175)";
      item.children[0].style.color = "";
    });
  });

  menu?.addEventListener("click", () => {
    if (sidebar?.classList.contains("show-sidebar")) {
      header.style.backgroundColor = "transparent";
      header.style.position = "relative";
      header.style.zIndex = "auto";
      document.body.style.overflow = "auto";
      sidebar?.classList.remove("show-sidebar");
      topLine?.classList.remove("rotate-[45deg]", "-mt-1");
      bottomLine?.classList.remove(
        "-rotate-[45deg]",
        "-mt-[12px]",
        "-ml-[7.5px]",
      );
    } else {
      header.style.backgroundColor = "black";
      header.style.position = "relative";
      header.style.zIndex = "999";
      document.body.style.overflow = "hidden";
      sidebar?.classList.add("show-sidebar");
      topLine?.classList.add("rotate-[45deg]", "-mt-1");
      bottomLine?.classList.add("-rotate-[45deg]", "-mt-[12px]", "-ml-[7.5px]");
    }
  });
</script>
<Sidebar />
