<div
  class='pl-4 md:pl-6 pr-4 text-white text-[14px] flex flex-col gap-2 max-h-0 overflow-hidden transition-all duration-200 parent-container'
>
  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80]'>Eccomerce Development</a>
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >web app development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >mobile app development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'>UI/UX design</a>
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >low code development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >admin development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >headless cms development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>

  <div class='py-4 pl-2 md:pl-8 pr-6.5 flex flex-col gap-6'>
    <div
      class='flex justify-between items-center hover:text-white text-[#ffffff80]'
    >
      <a class='hover:text-white text-[#ffffff80] capitalize'
        >website development</a
      >
      <div class='down-arrow'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </div>
    <div class='flex flex-col pl-2 gap-3.5 hidden content'>
      <a>Shopify</a>
      <a>Shopify</a>
    </div>
  </div>
</div>
