---
import { GoArrowUpRight } from "react-icons/go";
import ServicesDropdown from "./servicesDropdown.astro";
---

<div
  class='sidebar fixed bg-[#151515] overflow-auto sm:w-full transition-all sm:h-[calc(100vh-100px)] h-[calc(100vh-75px)] sm:top-25 top-18.75 bottom-0 -left-full w-full z-9999 px-7.75 pt-6 lg:hidden'
>
  <a
    href='/'
    class='w-full px-4 py-4 sm:px-10 text-white font-semibold text-[14px] h-13 flex items-center'
    >Home</a
  >
  <div>
    <a
      class='w-full px-4 md:py-4 sm:px-10 text-[14px] h-13 flex justify-between items-center text-white'
      >Services
      <div class='down-arrow transition-all duration-100'>
        <svg
          width='9'
          height='14'
          viewBox='0 0 9 14'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='stroke-white transition-all services-icon'
          ><path
            d='M1.66846 1L7.66846 7L1.66846 13'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path></svg
        >
      </div>
    </a>
    <ServicesDropdown />
  </div>
  <a
    href='/'
    class='w-full px-4 py-4 sm:px-10 text-[#9ca3af] text-[14px] h-13 sm:h-18 flex items-center'
    >About us</a
  >

  <div
    class='py-0 px-5 mt-5.5 xl:px-6 h-12 xl:h-13.75 flex md:hidden items-center rounded-full bg-[#E68624] cursor-pointer transition-all dark-bg duration-700 hover:[backdrop-filter:blur(100px)] dark-btn-shadow'
  >
    <button
      class='w-full h-full text-[14px] xl:text-[16px] flex gap-2 justify-center text-white items-center font-medium'
    >
      Get In Touch
      <img
        alt='top-arrow'
        loading='lazy'
        width='200'
        height='200'
        decoding='async'
        data-nimg='1'
        class='w-2 h-2 sm:w-2.5 sm:h-2.5'
        src='/arrow.svg'
        style='color: transparent;'
      />
    </button>
  </div>
</div>

<script>
  const container = document.querySelector(".parent-container") as any;
  const icon = document.querySelector(".services-icon") as any;
  const arrow = document.querySelectorAll(".down-arrow") as any;
  let prevElement: any = null; // to track the previously open tab.
  let prevArrow: any = null; // to track the previously open tab.
  icon?.addEventListener("click", () => {
    container?.classList.toggle("max-h-dvh");
  });

  arrow.forEach((item) => {
    item?.addEventListener("click", (e) => {
      // anchor tag to make color white when hover or open
      item.parentElement?.parentElement?.children[0].children[0].classList.toggle(
        "text-white",
      );

      const content = item.parentElement?.parentElement?.children[1]; // access div that has content such as => shopify, magento etc.

      if (content.classList.contains("content")) {
        content.classList.toggle("hidden");
      }
      item.classList.toggle("rotate-90");
      item.classList.add("transition-all", "duration-100");
    });
  });
</script>
