---
import TopSection from "../top-section/Topsection.astro";
import WhyusCard from "./WhyusCard.astro";
const cards = [
  {
    src: "/customerSupport.png",
    title: "Excellent Customer Service",
    content: `We don't just solve problems, we build lasting relationships. Experience the exceptional service your brand truly deserves.`,
  },
  {
    src: "/medal.png",
    title: "Prove Track Record",
    content: `We are trusted by countless clients, backed by verifiable success stories. We consistently exceed expectations through expertise and dedication.`,
  },
  {
    src: "/coins.png",
    title: "Competitive Price",
    content: `Don’t trade quality for cost. We deliver top-notch design & development services at competitive rates without compromise . `,
  },
  {
    src: "/peoples.png",
    title: "Team of Experts in their niche",
    content: `Our domain-expert teams collaborate seamlessly to turn your vision into reality with precision and creativity. `,
  },
  {
    src: "/chart.png",
    title: "Honest & Valuable Advice ",
    content: `We provide honest advice to help you make a meaningful impact and achieve significant results for your business.`,
  },
  {
    src: "/desk.png",
    title: "Personal Account Manager",
    content: `You’ll have a dedicated solutions partner to guide you through every step of the process with expertise. `,
  },
];

const topSectionContent = {
  heading: "Why work with",
  word: "us?",
  para: `We craft digital experiences that deliver results, helping you achieve
      your business goals, from boosting brand awareness to accelerating sales`,
  btnText: "Why us?",
};
---

<section
  id={topSectionContent.btnText.toLowerCase()}
  class='flex flex-col items-center gap-16 max-w-480 mx-auto px-5 md:px-10 xl:px-20'
>
  <TopSection {...topSectionContent} />
  <div
    class='w-auto h-fit text-white gap-2 lg:gap-5 grid grid-cols-1 md:grid-cols-3'
  >
    {
      cards.map((data) => {
        return <WhyusCard {...data} />;
      })
    }
  </div>
</section>
