---
import TopSection from "../top-section/Topsection.astro";
import WhyusCard from "./WhyusCard.astro";
const cards = [
  {
    src: "/customerSupport.png",
    title: "Excellent Customer Service",
    content: `We don't just solve problems, we build lasting relationships. Experience the exceptional service your brand truly deserves.`,
    height: "max-h-[75px]  2xl:max-h-[113px]",
    width: "max-w-[80px] 2xl:max-w-[120px]",
  },
  {
    src: "/medal.png",
    title: "Prove Track Record",
    content: `We are trusted by countless clients, backed by verifiable success stories. We consistently exceed expectations through expertise and dedication.`,
    height: "max-h-[75px]  2xl:max-h-[113px]",
    width: "max-w-[80px] 2xl:max-w-[120px]",
  },
  {
    src: "/coins.png",
    title: "Competitive Price",
    content: `Don't trade quality for cost. We deliver top-notch design & development services at competitive rates without compromise.`,
    height: "max-h-[75px]  2xl:max-h-[113px]",
    width: "max-w-[80px] 2xl:max-w-[120px]",
  },
  {
    src: "/peoples.png",
    title: "Personal Account Manager",
    content: `You’ll have a dedicated solutions partner to guide you through every step of the process with expertise.`,
    height: "max-h-[75px]  2xl:max-h-[113px]",
    width: "max-w-[80px]  xl:max-w-[120px]",
  },
  {
    src: "/chart.png",
    title: "Honest & Valuable Advice",
    content: `We provide honest advice to help you make a meaningful impact and achieve significant results for your business.`,
    height: "max-h-[75px]  2xl:max-h-[113px]",
    width: "max-w-[80px] 2xl:max-w-[120px]",
  },
  {
    src: "/desk.png",
    title: "Team of Experts in their niche",
    content: `Our domain-expert teams collaborate seamlessly to turn your vision into reality with precision and creativity.`,
    height: "max-h-[52px]  xl:max-h-[78px]",
    width: "max-w-[80px] xl:max-w-[120px]",
  },
];

const topSectionContent = {
  heading: "Why work with",
  word: "us?",
  para: `We craft digital experiences that drive results. We'll help you achieve your business goals, from increased brand awareness to skyrocketing sales`,
  btnText: "Why us?",
};
---

<section
  class='flex flex-col items-center gap-8 sm:gap-12 lg:gap-15 xl:gap-17.5 max-w-480 mx-auto px-5 md:px-10 2xl:px-20 md:pt-17.5 pt-15 lg:pt-22.5 xl:pt-30'
>
  <TopSection {...topSectionContent} />
  <div
    class='w-auto h-fit text-white gap-2 sm:gap-3 grid-rows-6 md:grid-rows-2 xs:grid-rows-auto lg:gap-5 grid grid-cols-1 md:grid-cols-3'
  >
    {
      cards.map((data) => {
        return <WhyusCard {...data} />;
      })
    }
  </div>
</section>
