---
const { src, title, content } = Astro.props;
---

<div
  class='h-auto bg-[#282828B2] rounded-4xl relative flex flex-col justify-between hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466] card why-us-card dark-btn-shadow dropdown-bg dropdown-shadow-button'
>
  <div
    class='w-full h-full rounded-[20px] bg-[#1c1c1c] lg:rounded-4xl p-5 md:p-6 lg:p-7 gap-2 md:gap-15 lg:gap-8 xl:gap-4 xl:p-8 flex flex-col justify-between dark-btn-shadow dropdown-bg dropdown-shadow-button'
  >
    <canvas class='xl:w-30 xl:h-28.25 xl:max-h-28.25 w-20 h-20'></canvas>

    <div class='w-full text-white flex flex-col gap-3 xl:gap-5'>
      <h3
        class='text-[14px] lg:text-[20px] xl:text-[26px] capitalize hero-heading xl:leading-8'
      >
        {title}
      </h3>
      <p
        class='opacity-70 text-[12px] lg:text-[14px] leading-4 lg:leading-5 xl:leading-7 xl:text-[18px]'
      >
        {content}
      </p>
    </div>
  </div>
</div>
<script>
  const cards = document.querySelectorAll(".why-us-card");
  const imagePaths = [
    { name: "chat", imageCount: 50 },
    { name: "rank", imageCount: 50 },
    { name: "competitive-price", imageCount: 40 },
    { name: "account-manager", imageCount: 50 },
    { name: "honest&valuable", imageCount: 50 },
    { name: "team-of-experts", imageCount: 50 },
  ];
  const currentFrame = (index: number, path: string) => {
    return `/why-us/${path}/${index.toString().padStart(4, "0")}.webp`;
  };

  const img = new Image();

  const updateImage = (
    i: number,
    imageCount: number,
    path: string,
    ctx: any,
    width: number,
    height: number,
  ) => {
    if (i > imageCount) return;
    img.src = currentFrame(i, path);

    img.onload = () => {
      ctx?.clearRect(0, 0, width, height);
      ctx?.drawImage(img, 0, 0, width, height);

      requestAnimationFrame(() =>
        updateImage(i + 1, imageCount, path, ctx, width, height),
      );
    };
  };

  const updateImageWhenLeave = (
    i: number,
    path: string,
    ctx: any,
    width: number,
    height: number,
  ) => {
    if (i < 1) return;
    img.src = currentFrame(i, path);

    img.onload = () => {
      ctx?.clearRect(0, 0, width, height);
      ctx?.drawImage(img, 0, 0, width, height);

      requestAnimationFrame(() =>
        updateImageWhenLeave(i - 1, path, ctx, width, height),
      );
    };
  };

  // Render only first image when page loads.
  cards.forEach((card, index) => {
    const img = new Image();
    img.src = currentFrame(1, imagePaths[index].name);
    const canvas = card.children[0].children[0] as any;
    const ctx = canvas.getContext("2d");
    img.onload = () => {
      ctx.drawImage(img, 0, 0, canvas.width, canvas?.height);
    };
  });

  cards.forEach((card, index) => {
    card.addEventListener("mouseenter", () => {
      const canvas = card.children[0].children[0] as any;
      const ctx = canvas.getContext("2d");
      updateImage(
        1,
        imagePaths[index].imageCount,
        imagePaths[index].name,
        ctx,
        canvas?.width,
        canvas?.height,
      );
    });
  });

  cards.forEach((card, index) => {
    card.addEventListener("mouseleave", () => {
      const canvas = card.children[0].children[0] as any;
      const ctx = canvas.getContext("2d");
      updateImageWhenLeave(
        imagePaths[index].imageCount,
        imagePaths[index].name,
        ctx,
        canvas.width,
        canvas?.height,
      );
    });
  });
</script>
