---
import Button from "../button/Button.astro";

const { heading, word, para, btnText } = Astro.props;
---

<div
  id={btnText.toLowerCase()}
  class='h-full flex flex-col items-center gap-5 md:px-0 max-w-96.25 md:max-w-125 xl:max-w-165.25 transition-all duration-700'
>
  <div
    class='flex flex-col justify-between gap-2 md:gap-3.75 xl:gap-6 items-center text-white xl:max-w-165.25'
  >
    <Button text={btnText} />
    <h2
      class='font-medium text-[28px] md:text-[36px] lg:text-[42px] xl:text-5xl text-center shrink-0 hero-heading xl:leading-16.75 capitalize lg:text-nowrap'
    >
      {heading.split("|")[0]}
      <i class='font-light'> {word}</i>
      {heading.split("|")[1]}
    </h2>
    <p
      class='text-center text-[12px] md:text-[13px] lg:text-[14px] xl:text-[18px] w-full text-[#f8f8f8b2] font-light text-wrap
      lg:leading-5 xl:leading-[1.4]'
    >
      {para}.
    </p>
  </div>
</div>
