---
import TopSection from "../top-section/Topsection.astro";
import ServicesCard from "./servicesCard.astro";
const cards = [
  {
    src: "/ecom.png",
    title: "ecommerce development",
    content:
      "High-performance Ecommerce solutions tailored to accelerate the success of your business.",
  },
  {
    src: "/mobile.png",
    title: "mobile development",
    content:
      "Custom mobile applications designed to be intuitive and engaging, driving customer acquisition and retention.",
  },
  {
    src: "/web.png",
    title: "web app development",
    content:
      "Creating custom web apps that transform ideas into powerful user-centric solutions for digital success.",
  },
  {
    src: "/ux.png",
    title: "UI/UX design",
    content:
      "Crafting exceptional experiences by elevating your digital presence with user-centric UI/UX design that captivates, converts and delights.",
  },
  {
    src: "/lowCode.png",
    title: "low code development",
    content:
      "Accelerate innovation by empowering your team with low-code solutions that turn ideas into powerful applications at lightning speed.",
  },
  {
    src: "/Website.png",
    title: "website development",
    content:
      "Forging your digital identity using expert website development that transforms vision into engaging online experiences.",
  },
];
const topSectionContent = {
  heading: "How we can help",
  word: "you?",
  para: ` We'll help you shape your brand, create a strong online presence, and connect with your target audience effectively.`,
  btnText: "Services",
};
---

<section class='flex flex-col items-center gap-16 max-w-480 mx-auto'>
  <TopSection {...topSectionContent} />

  <div
    class='w-auto lg:w-[90%] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:justify-items-center gap-2 lg:gap-5 mx-5 lg:mx-20'
  >
    {
      cards.map((data) => {
        return <ServicesCard {...data} />;
      })
    }
  </div>
</section>
