---
import Button from "../button/Button.astro";

const { src, title, content } = Astro.props;
---

<div
  class='w-full h-auto rounded-[20px] overflow-hidden md:rounded-4xl hover:bg-linear-to-br! from-[#e6862466] via-transparent to-[#e6862466] card bg-[#282828B2] flex flex-col items-center p-1 border border-[#1c1c1c] dark-btn-shadow dropdown-bg dropdown-shadow-button card-animate-on-touch grayscale'
>
  <div
    class='w-full h-full rounded-[20px] md:rounded-4xl bg-[#1c1c1c] pb-6 xl:pb-8! flex flex-col dark-btn-shadow dropdown-bg dropdown-shadow-button gap-3 sm:gap-2 video-card'
  >
    <div
      class='w-full flex justify-center h-59.75 md:h-65.25 lg:h-55.25 xl:h-[334px]! 2xl:h-[354px]! video-container overflow-hidden'
    >
      <video
        src={src}
        muted
        class='object-cover w-full h-full rounded-4xl'
      ></video>
    </div>

    <div
      class='flex flex-col gap-4 lg:gap-5 xl:gap-6! justify-between grow px-4 md:px-2 lg:px-3 xl:px-4! service-content-section'
    >
      <div
        class='w-full flex flex-col gap-1 lg:gap-3 xl:gap-3.5! md:pl-4.25 md:pr-[10.5px] lg:px-4'
      >
        <h3
          class='font-medium text-[#f8f8f8f2] text-[14px] lg:text-[19px] capitalize service-title'
        >
          {title}
        </h3>
        <p
          class='text-[#f8f8f8b2] text-[13px] lg:text-[16px] grow lg:leading-6! service-content'
        >
          {content}
        </p>
      </div>
      <div class='md:pl-4.25 md:pr-[10.5px] lg:px-4 lg:gap-3.5'>
        <Button text='Discover' />
      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (width: 1024px) {
    .service-title {
      font-size: 16px;
    }
    .service-content {
      font-size: 14px;
      line-height: 20px;
    }
    .service-content-section {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
</style>
