---
import TopSection from "../top-section/Topsection.astro";
import ServicesCard from "./servicesCard.astro";
const cards = [
  {
    src: "/ecommerce-video.webm",
    title: "ecommerce",
    content:
      "High-performance Ecommerce solutions tailored to accelerate the success of your business.",
  },
  {
    src: "/mobile-app-video.webm",
    title: "mobile app development",
    content:
      "Custom mobile applications designed to be intuitive and engaging, driving customer acquisition and retention.",
  },
  {
    src: "/web-app-video.webm",
    title: "web app development",
    content:
      "Creating custom web apps that transform ideas into powerful user-centric solutions for digital success.",
  },
  {
    src: "/ui-ux-video.webm",
    title: "UI/UX design",
    content:
      "Crafting exceptional experiences by elevating your digital presence with user-centric UI/UX design that captivates, converts and delights.",
  },
  {
    src: "/low-code-video.webm",
    title: "low code development",
    content:
      "Accelerate innovation by empowering your team with low-code solutions that turn ideas into powerful applications at lightning speed.",
  },
  {
    src: "/website-app-video.webm",
    title: "website development",
    content:
      "Forging your digital identity using expert website development that transforms vision into engaging online experiences.",
  },
];
const topSectionContent = {
  heading: "How we can help",
  word: "you?",
  para: ` We'll help you shape your brand, create a strong online presence, and connect with your target audience effectively.`,
  btnText: "Services",
};
---

<section
  class='flex flex-col items-center gap-16 max-w-480 mx-auto px-5 md:px-10 xl:px-20'
>
  <TopSection {...topSectionContent} />

  <div
    class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:justify-items-center gap-3 lg:gap-5'
  >
    {
      cards.map((data) => {
        return <ServicesCard {...data} />;
      })
    }
  </div>
</section>
<script>
  const cards = document.querySelectorAll(".video-container");
  cards.forEach((card) => {
    card.children[0].addEventListener("mouseenter", (e: any) => {
      e?.target?.play();
    });
  });
</script>
