<section class='flex flex-col items-center gap-16 max-w-480 mt-10 mx-auto'>
  <div class='h-full flex flex-col items-center gap-5 lg:mx-20 w-full'>
    <div
      class='flex flex-col justify-between gap-5 mb-10 items-center text-white w-[90%] md:w-[60%] lg:w-[37%]'
    >
      <button
        class='bg-[#282828B8] cursor-pointer opacity-70 text-white rounded-full w-fit py-3 px-8 mt-4 border-[0.5px] border-[#282828B2] font-bold'
      >
        Work
      </button>
      <h2 class='font-semibold text-3xl md:text-5xl text-center'>
        See our Recent <i class='font-light'>Projects?</i>
      </h2>
      <p class='text-center text-lg opacity-70'>
        Explore our showcase of our recent projects to see tha solutions we’ve
        recently brought to life.
      </p>
    </div>
  </div>
  <div class='max-w-480 mx-2 lg:mx-20'>
    <div class='gap-5 grid grid-cols-1 md:grid-cols-2'>
      <div
        class='relative md:row-start-1 md:col-start-1 md:row-end-5 md:col-end-2'
      >
        <img
          src='/work-mobile.png'
          class='h-full shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>

      <div
        class='relative md:row-start-1 md:col-start-2 md:row-end-4 md:col-end-3'
      >
        <img
          src='/work-mobile2.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-5 md:col-start-1 md:row-end-9 md:col-end-2 shrink-0'
      >
        <img
          src='/work-mobile2.png'
          class='h-full shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-4 md:col-start-2 md:row-end-8 md:col-end-3'
      >
        <img
          src='/work-mobile.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-9 md:col-start-1 md:row-end-11 md:col-end-2'
      >
        <img
          src='/work-mobile2.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-8 md:col-start-2 md:row-end-11 md:col-end-3'
      >
        <img
          src='/work-mobile.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style></style>
