<section class='flex flex-col items-center gap-16 max-w-480 mt-10 mx-auto'>
  <div class='h-full flex flex-col items-center gap-5 mx-20 w-full'>
    <div
      class='flex flex-col justify-between gap-5 mb-10 items-center text-white w-[37%]'
    >
      <button
        class='bg-[#282828B8] cursor-pointer opacity-70 text-white rounded-full w-fit py-3 px-8 mt-4 border-[0.5px] border-[#282828B2] font-bold'
      >
        Work
      </button>
      <h2 class='font-semibold text-5xl'>
        See our Recent <i class='font-light'>Projects?</i>
      </h2>
      <p class='text-center text-lg opacity-70'>
        Explore our showcase of our recent projects to see tha solutions we’ve
        recently brought to life.
      </p>
    </div>
  </div>
  <div class='max-w-480 mx-20'>
    <div class='gap-5 grid grid-cols-2'>
      <div
        class='relative'
        style='grid-area: 1 / 1 / 5 / 2;'
      >
        <img
          src='/work-mobile.png'
          class='h-full'
        />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>

      <div
        class='relative'
        style='grid-area: 1 / 2 / 4 / 3;'
      >
        <img src='/work-mobile2.png' />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative'
        style='grid-area: 5 / 1 / 9 / 2;'
      >
        <img
          src='/work-mobile2.png'
          class='h-full'
        />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative'
        style='grid-area: 4 / 2 / 8 / 3;'
      >
        <img src='/work-mobile.png' />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative'
        style='grid-area: 9 / 1 / 11 / 2;'
      >
        <img src='/work-mobile2.png' />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative'
        style='grid-area: 8 / 2 / 11 / 3;'
      >
        <img src='/work-mobile.png' />
        <div
          class='w-fit text-white flex flex-col gap-2 px-2 pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-lg capitalize'> SWAP app </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
