---
import TopSection from "../top-section/Topsection.astro";
import WorkCard from "./WorkCard.astro";
const topSectionContent = {
  heading: "See Our Recent",
  word: "Projects.",
  para: `Explore our showcase of our recent projects to see the solutions we’ve recently brought to life`,
  btnText: "Work",
};

const cards = [
  {
    src: "/work1.webp",
    gridSize: "md:row-start-1 md:col-start-1 md:row-end-5 md:col-end-2",
  },
  {
    src: "/work2.webp",
    gridSize: "md:row-start-1 md:col-start-2 md:row-end-4 md:col-end-3 ",
  },
  {
    src: "/work3.webp",
    gridSize: "md:row-start-5 md:col-start-1 md:row-end-9 md:col-end-2",
  },
  {
    src: "/work4.webp",
    gridSize: "md:row-start-4 md:col-start-2 md:row-end-8 md:col-end-3",
  },
  {
    src: "/work5.webp",
    gridSize: "md:row-start-9 md:col-start-1 md:row-end-11 md:col-end-2",
  },
  {
    src: "/work6.webp",
    gridSize: " md:row-start-8 md:col-start-2 md:row-end-11 md:col-end-3",
  },
];
---

<section
  class='flex flex-col items-center gap-14 md:gap-12 lg:gap-[80px] xl:gap-26! max-w-480 mx-auto md:pt-17.5 pt-15 lg:pt-30'
>
  <TopSection
    {...topSectionContent}
    wrap='text-nowrap'
  />
  <div class='max-w-480 xl:px-20! md:px-10 px-5'>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-3 lg:gap-5'>
      {
        cards.map((data) => {
          return <WorkCard {...data} />;
        })
      }
    </div>
  </div>
</section>
<style>
  @media screen and (width: 1024px) {
    section {
      padding-top: 90px;
    }
  }
</style>
