---
import Button from "../button/Button.astro";
import TopSection from "../top-section/Topsection.astro";
const topSectionContent = {
  heading: "See our Recent",
  word: "Projects?",
  para: `Explore our showcase of our recent projects to see tha solutions we’ve
        recently brought to life`,
  btnText: "work",
};
---

<section
  id={topSectionContent.btnText.toLowerCase()}
  class='flex flex-col items-center gap-16 max-w-480 mx-auto'
>
  <TopSection {...topSectionContent} />
  <div class='max-w-480 mx-2 lg:mx-20'>
    <div class='gap-5 grid grid-cols-1 md:grid-cols-2'>
      <div
        class='relative md:row-start-1 md:col-start-1 md:row-end-5 md:col-end-2'
      >
        <img
          src='/work-mobile.png'
          class='h-full shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>

      <div
        class='relative md:row-start-1 md:col-start-2 md:row-end-4 md:col-end-3'
      >
        <img
          src='/work-mobile2.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-5 md:col-start-1 md:row-end-9 md:col-end-2 shrink-0'
      >
        <img
          src='/work-mobile2.png'
          class='h-full shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-4 md:col-start-2 md:row-end-8 md:col-end-3'
      >
        <img
          src='/work-mobile.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-9 md:col-start-1 md:row-end-11 md:col-end-2'
      >
        <img
          src='/work-mobile2.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
      <div
        class='relative md:row-start-8 md:col-start-2 md:row-end-11 md:col-end-3'
      >
        <img
          src='/work-mobile.png'
          class='shrink-0'
        />
        <div
          class='w-fit text-white flex flex-col md:gap-2 md:px-2 md:pb-3 absolute bottom-5 left-5 bg-transparent backdrop-blur-sm right-0'
        >
          <span class='font-semibold text-sm md:text-lg capitalize'>
            SWAP app
          </span>
          <p class='opacity-70'>
            SWAP app is a sleek and intuitive mobile application designed to
            make buying, selling,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style></style>
