<section
  class='relative flex overflow-visible sm:flex-wrap-reverse mx-auto flex-col-reverse justify-between h-fit max-w-480 mt-0 xl:mt-13'
>
  <div
    class='absolute lg:-top-[90px] lg:h-[200px] sm:-top-[10%] top-[-2.4%] z-20 w-screen overflow-hidden'
  >
    <img
      alt='image'
      width='1455'
      height='312'
      decoding='async'
      data-nimg='1'
      class='lg:scale-[5] sm:scale-[3] scale-[2] min-w-[100vw] h-[100px]'
      src='/stars.svg'
      style='color: transparent;'
    />
  </div>
  <div
    class='absolute lg:-bottom-[90px] lg:h-[200px] sm::-bottom-[10%] bottom-[-2.4%] z-20 w-screen overflow-hidden'
  >
    <img
      alt='image'
      width='1455'
      height='312'
      decoding='async'
      data-nimg='1'
      class='lg:scale-[5] sm:scale-[3] scale-[2] min-w-[100vw] h-[100px]'
      src='/stars.svg'
      style='color: transparent;'
    />
  </div>
  <div class='flex relative md:flex-row flex-col-reverse justify-between h-fit'>
    <div
      class='w-full md:w-fit flex flex-col gap-3.5 justify-evenly md:justify-between font-poppins z-10 bg-transparent
      pt-5.5 pl-5 pb-8
      sm:pb-10 sm:pl-10 lg:pl-10 lg:pb-14 md:pt-5.5
       xl:pb-24 xl:pl-20.25'
    >
      <div class='flex flex-col w-full gap-3.5'>
        <span
          class='mt-5.75 w-fit py-2 px-3 lg:px-5 lg:py-3 xl:py-5.75 xl:px-8 h-9.5 lg:h-11.5 xl:h-12.5 border border-[#ffffff1a] rounded-full text-white flex justify-center items-center flex-nowrap gap-2 dark-btn-shadow bg-[#282828b3] shrink-0 dropdown-shadow-button'
        >
          <span class='inline-block w-1.5 h-1.5 bg-green-400 rounded-full'
          ></span>
          <span
            class='text-[11px] lg:text-[14px] xl:text-[16px] font-medium text-[#F8F8F8]'
            >Open For Projects</span
          >
        </span>
        <div class='flex flex-col gap-2.5 w-full'>
          <h1
            class='md:w-125 lg:w-auto text-[30px] md:text-[48px] lg:text-[57px] xl:text-[67px] font-semibold leading-9.75 md:leading-15.5 lg:leading-18.5 xl:leading-21.75 tracking-tight bg-linear-to-r from-[#EAEAEA] to-[#ADADAD] text-transparent bg-clip-text h-fit hero-heading'
          >
            We deliver <span
              class='inline-block bg-linear-to-r from-[#E17C27] to-[#DF5E26] bg-clip-text text-transparent'
            >
              top notch
            </span><br /> Custom Digital Solutions
          </h1>
          <p
            class='lg:max-w-162.75 xl:max-w-187.5 max-w-187.5 w-full sm:max-w-110.5 xs:max-w-[352px] font-poppins sm:font-medium xs:font-normal text-[14px] xs:text-sm md:text-[18px] lg:text-[22px] tracking-tight md:leading-7 lg:leading-8 text-[#8f8f8f]'
          >
            We are a reliable technology partner to meet your custom software
            solution needs
          </p>
        </div>
      </div>
      <div
        class='py-0 px-5 xl:px-6 h-12 xl:h-13.75 flex items-center rounded-full bg-[#E68624] cursor-pointer transition-all dark-bg duration-700 hover:[backdrop-filter:blur(100px)] dark-btn-shadow w-fit mt-7.5 xl:mt-16.5'
      >
        <button
          class='w-full h-full font-medium text-[13px] xl:text-[16px] flex justify-between items-center gap-2 text-white'
        >
          Request a quote
          <img
            alt='top-arrow'
            loading='lazy'
            width='200'
            height='200'
            decoding='async'
            data-nimg='1'
            class='w-2 h-2 sm:w-2.5 sm:h-2.5'
            src='/arrow.svg'
            style='color: transparent;'
          />
        </button>
      </div>
    </div>

    <div
      class='relative md:absolute -mt-6 -mb-8 sm:m-0 lg:right-[-2%] md:right-[-15%] md:top-[5%] lg:top-[5%] xl:-top-[4%] w-auto md:w-136 lg:w-146 xl:w-auto
      md:h-102 lg:h-109.5 xl:h-175 sm:z-0 bg-transparent'
    >
      <video
        src='/sookshum-hero-video.webm'
        autoplay
        loop
        muted
        class='object-cover xl:object-cover xl:h-145 2xl:h-155 bg-transparent'
      ></video>
    </div>
  </div>
</section>

<style>
  @media screen and (max-width: 330px) {
    .hero-heading {
      font-size: 28px !important;
      line-height: 36px;
    }
  }
</style>
